<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week7/HW3_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#20201582 김호진 HW3
#3.1, 3.17 제외 전체
#3.2
name = input("이름을 입력하시오 : ")
height = int(input("키를 입력하시오(단위 cm): "))
if height >= 140:
    print("{}님은 놀이기구를 탈 수 있습니다".format(name))
else:
    print("{}님은 놀이기구를 탈 수 없습니다".format(name))

이름을 입력하시오 : 승주
키를 입력하시오(단위 cm): 132
승주님은 놀이기구를 탈 수 없습니다

In [ ]:
#3.3
age = int(input("이름을 입력하시오 : "))
height = int(input("키를 입력하시오(단위 cm): "))
if age >= 19 and height >=150 :
    print("입장할 수 있습니다.")
else:
    print("입장할 수 없습니다.")

이름을 입력하시오 : 16
키를 입력하시오(단위 cm): 162
입장할 수 없습니다.

In [ ]:
#3.4
age = int(input("나이를 입력하시오 : "))
if age >= 20:
    print("Adult")
elif age >= 10:
    print("Youth")
else:
    print("Kid")

나이를 입력하시오 : 9
Kid

In [ ]:
#3.5
a, b = map(int, input('두 정수를 입력시오 : ').split())
if a>=b:
    print(b, a)
else:
    print(a, b)

두 정수를 입력시오 : 12 99
12 99

In [ ]:
#3.6
a, b, c = map(int, input('두 정수를 입력시오 : ').split())
if a <= b and a <= c:
    if b <= c:
        print(a,b,c)
    else:
        print(a,c,b)
elif b <= a and b <= c:
    if a <= c:
        print(b,a,c)
    else:
        print(b,c,a)
else:
    if a <= b:
        print(c,a,b)
    else:
        print(c,b,a)

두 정수를 입력시오 : 99 12 4
4 12 99

In [ ]:
#3.7
score = int(input("게임점수를 입력하시오 : "))
if score >= 1000:
    print("고수입니다.")
else:
    print("입문자입니다.")

게임점수를 입력하시오 : 990
입문자입니다.

In [ ]:
#3.8
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
pos = ""
if x>0 and y>0:
    pos = "1사분면"
elif x>0 and y<0:
    pos = "4사분면"
elif x<0 and y>0:
    pos = "2사분면"
elif x<0 and y<0:
    pos = "3사분면"
elif x==0 and y==0:
    pos = "원점"
elif x==0:
    pos = "y축 위"
else:
    pos = "x축 위"
print("%s에 있음"%pos)

점의 좌표 x, y를 입력하시오 : 5 -4
4사분면에 있음

In [ ]:
#3.9
n = int(input("정수를 입력하시오 : "))
if n%2 == 0:
    print("%d는(은) 2로 나누어집니다."%n)
else:
    print("%d는(은) 2로 나누어지지 않습니다."%n)

if n%3 == 0:
    print("%d는(은) 3으로 나누어집니다."%n)
else:
    print("%d는(은) 3으로 나누어지지 않습니다."%n)

if n%2 == 0 and n%3 == 0:
    print("%d는(은) 2와 3 모두로 나누어집니다."%n)
else:
    print("%d는(은) 2와 3 모두로 나누어지지 않습니다."%n)

정수를 입력하시오 : 12
12는(은) 2로 나누어집니다.
12는(은) 3으로 나누어집니다.
12는(은) 2와 3 모두로 나누어집니다.

In [ ]:
#3.10
a, b = map(int, input('두 정수를 입력시오 : ').split())
if a%b == 0:
    print("{}(은)는 {}의 배수입니다.".format(a, b))
else:
    print("{}(은)는 {}의 배수가 아닙니다.".format(a, b))

두 정수를 입력시오 : 125 52
125(은)는 52의 배수가 아닙니다.

In [ ]:
#3.11
num = list(map(int, input('세 정수를 입력시오 : ').split()))
answer = [2, 3, 9]
clears = list(set(answer)-set(num))
if len(clears) == 0:
    print("상금 1억 원")
elif len(clears) == 1:
    print("상금 1천만 원")
elif len(clears) == 2:
    print("상금 1만 원")
else:
    print("다음 기회에...")

세 정수를 입력시오 : 2 1 9
상금 1천만 원

In [ ]:
#3.12 반지름이 5인 원
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
d = ((x**2)+(y**2))**0.5
if d > 5:
    print("원의 외부에 있음")
else:
    print("원의 내부에 있음")

점의 좌표 x, y를 입력하시오 : 7 9
원의 외부에 있음

In [50]:
#3.13 반지름이 10, (3,4)가 중심인 원
x, y = map(int, input("점의 좌표 x, y를 입력하시오 : ").split())
d = (((x-3)**2)+((y-4)**2))**0.5
if d > 10:
    print("원의 외부에 있음")
else:
    print("원의 내부에 있음")

점의 좌표 x, y를 입력하시오 : 7 9
원의 내부에 있음

In [55]:
#3.14
c = input("알파벳을 입력하시오 : ")
if c in ['a','e','i','o','u']:
    print(c,"(은)는 모음입니다.")
else:
    print(c,"(은)는 자음입니다.")

알파벳을 입력하시오 : t
t (은)는 자음입니다.

In [56]:
#3.15(1) for문
for i in range(1,10):
    print("2 * {} = {:2d}".format(i, 2*i))

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [57]:
#3.15(2) while문
i=1
while i < 10:
    print("2 * {} = {:2d}".format(i, 2*i))
    i += 1

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [61]:
#3.16(1) for문
num = int(input("1에서 9까지의 수를 입력하세요: "))
while True:
    if 1 <= num <=9:
        break
    num = int(input("1에서 9까지의 수를 다시 입력하세요: "))

for i in range(1,10):
    print("{} * {} = {:2d}".format(num, i, num*i))

1에서 9까지의 수를 입력하세요: 9
9 * 1 =  9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [60]:
#3.16(1) while문
num = int(input("1에서 9까지의 수를 입력하세요: "))
while True:
    if 1 <= num <=9:
        break
    num = int(input("1에서 9까지의 수를 다시 입력하세요: "))

i=1
while i < 10:
    print("{} * {} = {:2d}".format(num, i, num*i))
    i += 1

1에서 9까지의 수를 입력하세요: 13
1에서 9까지의 수를 다시 입력하세요: 5
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [66]:
#3.18
print("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.")
print("1) 햄버거 \n2) 치킨\n3) 피자")
menu = ['햄버거','치킨','피자']
user = int(input("1에서 3까지의 메뉴를 선택하세요 : "))
while True:
    if 1 <= user <=3:
        break
    user = int(input("메뉴를 다시 입력하세요 : "))
print("{}을 선택하였습니다.".format(menu[user-1]))

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
1) 햄버거
2) 치킨
3) 피자
1에서 3까지의 메뉴를 선택하세요 : 5
메뉴를 다시 입력하세요 : 6
메뉴를 다시 입력하세요 : 0
메뉴를 다시 입력하세요 : 2
치킨을 선택하였습니다.

In [73]:
#3.19
print("맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.")
print("- 햄버거(입력 b) \n- 치킨(입력c) \n- 피자(입력p)")
menu = {'b':'햄버거','c':'치킨','p':'피자'}
user = input("메뉴를 선택하세요(알파벳 b, c, p 입력) : ")
while True:
    if user in ['b','c','p']:
        break
    user = input("메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : ")
print("{}을 선택하였습니다.".format(menu[user]))

맛나 식당에 오신 것을 환영합니다. 메뉴는 다음과 같습니다.
- 햄버거(입력 b)
- 치킨(입력c)
- 피자(입력p)
메뉴를 선택하세요(알파벳 b, c, p 입력) : x
메뉴를 다시 입력하세요(알파벳 b, c, p 입력) : c
치킨을 선택하였습니다.

In [81]:
#3.20
n = int(input("숫자를 입력하세요 : "))
for i in range(n):
    for j in range(n-(i+1)):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print("")

숫자를 입력하세요 : 12
           *
          **
         ***
        ****
       *****
      ******
     *******
    ********
   *********
  **********
 ***********
************

In [87]:
#3.21
n = int(input("숫자를 입력하세요 : "))
isPrime = True
for i in range(2,n):
    if n%i == 0:
        isPrime = False
if isPrime:
    print("%d는 소수입니다"%n)
else:
    print("%d는 소수가 아닙니다"%n)

숫자를 입력하세요 : 45
45는 소수가 아닙니다

In [88]:
#3.22
for j in range(2,13):
    isPrime = True
    for i in range(2,j):
        if j%i == 0:
            isPrime = False
    if isPrime:
        print("%2d : 소수"%j)
    else:
        print("%2d : 합성수"%j)

 2 : 소수
 3 : 소수
 4 : 합성수
 5 : 소수
 6 : 합성수
 7 : 소수
 8 : 합성수
 9 : 합성수
10 : 합성수
11 : 소수
12 : 합성수

In [90]:
#3.23
n = int(input("숫자를 입력하세요 : "))
result = 0
for i in range(1,n+1):
    result += i**2
print("1부터 %d까지의 합은 %d입니다."%(n, result))

숫자를 입력하세요 : 5
1부터 5까지의 합은 55입니다.

In [104]:
#3.24
#import math
n = int(input("숫자를 입력하세요 : "))
result = 0
for i in range(1,n+1):
    result += 1/i**2
print("결과는 %.16f입니다."%result)
#print("pi^2/6 = %.16f"%(math.pi**2/6)) 1.6449340668482264

숫자를 입력하세요 : 1000000
결과는 1.6449330668487701입니다.

In [106]:
#3.25
height = 0
day = 1
while True:
    height += 7
    print("day : {:2d}\t달팽이의 위치 : {:2d}m".format(day,height))
    if height > 30:
        break
    height -= 5
    day +=1
print("\n우물을 탈출하는 데 걸린 날은 %d일 입니다."%day)

day :  1	달팽이의 위치 :  7m
day :  2	달팽이의 위치 :  9m
day :  3	달팽이의 위치 : 11m
day :  4	달팽이의 위치 : 13m
day :  5	달팽이의 위치 : 15m
day :  6	달팽이의 위치 : 17m
day :  7	달팽이의 위치 : 19m
day :  8	달팽이의 위치 : 21m
day :  9	달팽이의 위치 : 23m
day : 10	달팽이의 위치 : 25m
day : 11	달팽이의 위치 : 27m
day : 12	달팽이의 위치 : 29m
day : 13	달팽이의 위치 : 31m

우물을 탈출하는 데 걸린 날은 13일 입니다.

In [126]:
#3.26
n = int(input("n을 입력하시오 : "))
for i in range(1, n+1):
    for j in range(1, n+1):
        if i%2 == 1:
            print('%2d'%(n*(i-1)+j), end=' ')
        else:
            print('%2d'%(n*i-(j-1)), end=' ')
    print("")

n을 입력하시오 : 9
 1  2  3  4  5  6  7  8  9
18 17 16 15 14 13 12 11 10
19 20 21 22 23 24 25 26 27
36 35 34 33 32 31 30 29 28
37 38 39 40 41 42 43 44 45
54 53 52 51 50 49 48 47 46
55 56 57 58 59 60 61 62 63
72 71 70 69 68 67 66 65 64
73 74 75 76 77 78 79 80 81

In [133]:
#3.27
nums = []
for i in range(100, 1000):
    dig1 = i//100
    dig2 = i%100//10
    dig3 = i%100%10
    if i == (dig1**3 + dig2**3 + dig3**3):
        nums.append(i)
print("세 자리의 암스트롱 수 : ", *nums)

세 자리의 암스트롱 수 :  153 370 371 407

In [165]:
#3.28
n = int(input("정수를 입력하시오 : "))
numarray = list(str(n))
numarray2 = list(str(n))
numarray2.reverse()
#print(numarray, numarray2)
if numarray == numarray2:
    print("%d은(는) 거꾸로 정수입니다."%n)
else:
    print("%d은(는) 거꾸로 정수가 아닙니다."%n)

정수를 입력하시오 : 12122121
12122121은(는) 거꾸로 정수입니다.

In [168]:
#3.29
num = 500
while num > 50:
    change = int(input("충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : "))
    num += change
    print("현재 탱크양은 %d 입니다."%num)
print("경고 : 연료가 10% 미만이니 충전하세요!")

충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : +60
현재 탱크양은 560 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -300
현재 탱크양은 260 입니다.
충전 또는 사용한 연료를 +/- 기호와 함께 입력하시오 : -220
현재 탱크양은 40 입니다.
경고 : 연료가 10% 미만이니 충전하세요!

In [171]:
#3.30
print("1) 덧셈    2) 뺄셈    3) 곱셈    4) 나눗셈")
calc = int(input("어떤 연산을 원하는지 번호를 입력하세요: "))
if 1 <= calc <=4:
    a, b = map(int, input('연산을 원하는 숫자 두개를 입력하세요 : ').split())
    if calc == 1:
        print("{} + {} = {}".format(a, b, a+b))
    elif calc == 2:
        print("{} - {} = {}".format(a, b, a-b))
    elif calc == 3:
        print("{} * {} = {}".format(a, b, a*b))
    else:
        print("{} / {} = {}".format(a, b, a/b))
else:
    print("잘못 입력하였습니다")

1) 덧셈    2) 뺄셈    3) 곱셈    4) 나눗셈
어떤 연산을 원하는지 번호를 입력하세요: 4
연산을 원하는 숫자 두개를 입력하세요 : 3 4
3 / 4 = 0.75

In [192]:
#3.31
slot = [1, 1, 1]
for i in range(1, 20000):
    slot[0] = i
    for j in range(2):
        div = []
        div_sum = 0
        for k in range(1, slot[j]):
            if slot[j] % k == 0:
                div.append(k)
        for k in div:
            div_sum += k
        slot[j+1] = div_sum
    if (slot[0] == slot[2]) and (slot[0] != slot[1]):
        print("{:5d}의 친화수 {:5d}".format(slot[0], slot[1]))

  220의 친화수   284
  284의 친화수   220
 1184의 친화수  1210
 1210의 친화수  1184
 2620의 친화수  2924
 2924의 친화수  2620
 5020의 친화수  5564
 5564의 친화수  5020
 6232의 친화수  6368
 6368의 친화수  6232
10744의 친화수 10856
10856의 친화수 10744
12285의 친화수 14595
14595의 친화수 12285
17296의 친화수 18416
18416의 친화수 17296