<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week7/Lab3_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#상황1
age = int(input("나이를 입력하세요: "))
if age < 20:
  print("청소년 할인")
else:
  print("성인요금")

나이를 입력하세요: 20
성인요금

In [5]:
#상황2
walk_count = 800
if walk_count >= 1000:
  print("목표 달성!!! 축하합니다~")
print("종료")

종료

In [6]:
#Lab 3-1-1: if 문의 사용법
game_score = 1200
print("game_score:", game_score)
if game_score >= 1000:
  print("당신은 고수입니다")

game_score: 1200
당신은 고수입니다

In [7]:
#Lab 3-1-2
num_a, num_b = 100, 200
if (num_a == num_b):
  print("1번. 두 값이 일치합니다.")

num_a, num_b = 300, 300
if (num_a == num_b):
  print("2번. 두 값이 일치합니다.")

2번. 두 값이 일치합니다.

In [9]:
number = int(input("정수를 입력하세요: "))
if(number % 3) == 0:
    print(number, "은(는) 3의 배수입니다.")

정수를 입력하세요: 6
6 은(는) 3의 배수입니다.

In [10]:
num = int(input("정수를 입력하세요: "))
if (num%3 == 0) and (num%5 == 0):
  print(num, "은(는) 3과 5의 배수입니다.")

정수를 입력하세요: 15
15 은(는) 3과 5의 배수입니다.

In [11]:
hour = 10
if hour < 12:
    print("오전입니다.")
if hour >= 12:
    print("오후입니다.")

오전입니다.

In [12]:
hour = 15
if hour < 12:
    print("오전입니다.")
else:
    print("오후입니다.")

오후입니다.

In [13]:
#현재시각 기준으로 판단하기
from datetime import datetime, timedelta
time = datetime.now()
KST = timedelta(hours=9)
time += KST
print("현재시각: ", time)
time_hour = time.hour

if (time_hour < 12):
    print("오전입니다.")
else:
    print("오후입니다.")

현재시각:  2020-10-14 15:38:37.114086
오후입니다.

In [14]:
num = -10
if num <0:
    print(num, "은 음수입니다.")
else:
    print(num, "은 음수가 아닙니다.")

-10 은 음수입니다.

In [15]:
num = 10
if num % 2 == 0:
    print(num, "은 짝수입니다.")
else:
    print(num, "은 홀수입니다.")

10 은 짝수입니다.

In [16]:
#if_block.py
num = 100
if num<0:
  print(num, "은 음수입니다.")
else:
  print(num, "은 음수가 아닙니다")
  if num%2 ==0:
    print(num, "은 짝수입니다.")
  else:
    print(num, "은 홀수입니다.")

100 은 음수가 아닙니다
100 은 짝수입니다.

In [18]:
#Lab 3-3-1 : if 조건문의 응용
game_score = int(input("게임점수를 입력하시오: "))
if game_score >= 1000:
  print("고수입니다.")
else:
  print("입문자입니다.")

게임점수를 입력하시오: 2000
고수입니다.

In [ ]:
#Lab 3-3-2
a = int(input("한 정수를 입려가시오 :"))
b = int(input("다른 정수를 입려가시오 :"))
if a == b:
  print("두 값이 일치합니다.")
else:
  print("두 값이 일치하지 않습니다")

한 정수를 입려가시오 :100
다른 정수를 입려가시오 :150
두 값이 일치하지 않습니다

In [ ]:
#Lab 3-3-3
n = int(input("당신은 성인인가요(성인이면 1, 미성년이면 0): "))
if n == 1:
 print("")
elif n == 0:
  print("당신은 미성년자입니다.")
else:
  print("잘못된 입력입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0): 0
당신은 미성년자입니다.

In [ ]:
#Lab 3-3-4
n = int(input("당신은 성인인가요(성인이면 1, 미성년이면 0): "))
if n == 1:
   n2 = int(input("결혼을 하셨나요(기혼이면 1, 미혼이면 0): "))
   if n2 == 1:
       print("당신은 결혼한 성인입니다.")
   elif n2 == 0:
       print("당신은 결혼하지 않은 성인입니다.")
   else:
       print("잘못된 입력입니다.")
elif n == 0:
    print("당신은 미성년자입니다.")
else:
    print("잘못된 입력입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0): 0
당신은 미성년자입니다.

In [19]:
# 3-13 : and와 or 조건문의 사용법
a = 10
b = 13
if (a%2 == 0) and (b%2 == 0):
    print('두 수 모두 짝수입니다.')
if (a%2 == 0) or (b%2 == 0):
    print('두 수 중 하나 이상이 짝수입니다.')

두 수 중 하나 이상이 짝수입니다.

In [20]:
#Lab 3-4-1 : 복합 조건식의 이해
num = 2
print(num>=1 and num<=10)

True

In [21]:
#Lab 3-4-2
age = 12
if (age > 10 and age < 19):
    print('청소년입니다.')

청소년입니다.

In [22]:
# 윤년 판별하기
year = int(input('연도를 입력하세요 : '))
is_leap_year = ((year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0))
print(year, '년은 윤년입니까?', is_leap_year)

연도를 입력하세요 : 2020
2020 년은 윤년입니까? True

In [23]:
# 코드 3-17 : if-elif-else 문으로 구성된 등급게산기
score = int(input('점수를 입력하세요 : '))
if score >= 90:
    grade = 'A'
elif score >=80:
    grade = 'B'
elif score >=70:
    grade = 'C'
elif score >=60:
    grade = 'D'
else:
    grade = 'F'
print("당신의 등급은 : ", grade)

점수를 입력하세요 : 89
당신의 등급은 :  B

In [25]:
# Lab 3-5 : if-elif-else 문을 사용한 다중 조건식
v = int(input("자동차의 속도를 입력하세요(단위 : km/h) :"))
if v >= 100:
    print("고속")
elif v >= 60:
    print("중속")
else:
    print("저속")

자동차의 속도를 입력하세요(단위 : km/h) :120
고속

In [26]:
for i in range(10):
    print(i, "Welcome to everyone!!")

0 Welcome to everyone!!
1 Welcome to everyone!!
2 Welcome to everyone!!
3 Welcome to everyone!!
4 Welcome to everyone!!
5 Welcome to everyone!!
6 Welcome to everyone!!
7 Welcome to everyone!!
8 Welcome to everyone!!
9 Welcome to everyone!!

In [27]:
#Lab 3-6-1 : 반복문을 이용해서 다음 코드를 작성해 보자
for _ in range(5):
    print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [28]:
#Lab 3-6-2
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
list(range(5))

[0, 1, 2, 3, 4]

In [30]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [33]:
list(range(0,5,2))

[0, 3]

In [34]:
list(range(-2,-10,-2))

[-2, -4, -6, -8]

In [36]:
list(range(0,-5, 1))

[]

In [39]:
# LAB 3-7-1 : range() 함수의 응용
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [41]:
# LAB 3-7-2
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [42]:
# LAB 3-7-3
list(range(1,101,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [44]:
# LAB 3-7-4
list(range(-99, 0, 1))

[-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [46]:
# 코드 3-21 : range() 함수를 이용한 for 문의 제어
for i in range(5):
    print(i, end="  ")

0  1  2  3  4

In [47]:
for i in range(5):
    print(i, end="")

01234

In [48]:
for i in range(5):
    print(i, end="  ")
for i in range(5):
    print(i, end="  ")

0  1  2  3  4  0  1  2  3  4

In [52]:
# 표현식 1
for i in range(2,5):
    print(i, end=" ")
print()
# 표현식 2
for i in range(0, 10, 2):
    print(i, end = ', ')
print()
# 표현식 3
for i in range(-2, -10, -2):
    print(i, end = ' ')

2 3 4
0, 2, 4, 6, 8,
-2 -4 -6 -8

In [56]:
# 코드 3-25 : 연속적인 값의 생성과 누적 덧셈
s = 0
for i in range(1,11):
    s += i
    print("i =", i, end="\t")
    print('sum =', s)
print("1에서 10까지의 합: ", s)

i = 1	sum = 1
i = 2	sum = 3
i = 3	sum = 6
i = 4	sum = 10
i = 5	sum = 15
i = 6	sum = 21
i = 7	sum = 28
i = 8	sum = 36
i = 9	sum = 45
i = 10	sum = 55
1에서 10까지의 합:  55

In [57]:
s = 0
for i in range(1,11):
    s += i
    print("i = {}, s = {}".format(i, s))
print("1에서 10까지의 합: ", s)

i = 1, s = 1
i = 2, s = 3
i = 3, s = 6
i = 4, s = 10
i = 5, s = 15
i = 6, s = 21
i = 7, s = 28
i = 8, s = 36
i = 9, s = 45
i = 10, s = 55
1에서 10까지의 합:  55

In [59]:
# LAB 3-8-1 : 누적 덧셈의 응용
s = 0
for i in range(1, 101):
    s+=i
print("1에서 100까지 합: ", s)

1에서 100까지 합:  5050

In [67]:
# LAB 3-8-2
s = 0
for i in range(0, 101, 2):
    s+=i
    #print("i = {}\ts = {}".format(i, s))
print("1에서 100까지 짝수의 합: ", s)

1에서 100까지 짝수의 합:  2550

In [68]:
# LAB 3-8-3
s = 0
for i in range(1, 101, 2):
    s+=i
    #print("i = {}, s = {}".format(i, s))
print("1에서 100까지 홀수의 합: ", s)

1에서 100까지 홀수의 합:  2500

In [70]:
# 코드 3-27
n = int(input('합계를 수할 수를 입력 하세요: '))
s = 0
for i in range(0,n):
    s += i+1
print("1부터 {}까지의 합은 {}".format(n, s))

합계를 수할 수를 입력 하세요: 5
1부터 5까지의 합은 15

In [71]:
n = int(input('합계를 수할 수를 입력 하세요: '))
s = 0
for i in range(1,n+1):
    s += i
print("1부터 {}까지의 합은 {}".format(n, s))

합계를 수할 수를 입력 하세요: 30
1부터 30까지의 합은 465

In [76]:
n = int(input("수를 입력하세요: "))
fact = 1
for i in range(1,n+1):
    fact *= i
print("{}! = {}".format(n, fact))

수를 입력하세요: 50
50! = 30414093201713378043612608166064768844377641568960512000000000000

In [77]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [78]:
for i in [1, 8, 10, 5]:
    print(i)

1
8
10
5

In [80]:
nums = [11, 22, 33, 44, 55 ,66]
for i in nums:
    print(i, end=' ')

11 22 33 44 55 66

In [81]:
sum(nums)

231

In [82]:
print("1에서 100까지의 합 : ", sum(range(1,101)))

1에서 100까지의 합 :  5050

In [83]:
st = 'Hello'
list(st)

['H', 'e', 'l', 'l', 'o']

In [84]:
for ch in 'Soongsil':
    print(ch, end=' ')

S o o n g s i l

In [92]:
for i in range(2,10):
    print(i,"단: ", end=' ')
    for j in range(1, 10):
        print("{}*{}={:2d}".format(i, j, i*j), end = ' ')
    print()

2 단:  2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3 단:  3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4 단:  4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5 단:  5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6 단:  6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7 단:  7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8 단:  8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9 단:  9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [93]:
n=7
for i in range(n):
    st = ""
    for j in range(i):
        st += '  '
    print(st + '#')

#
  #
    #
      #
        #
          #
            #

In [96]:
n=7
for i in range(n):
    print("  "*i, "#")

 #
   #
     #
       #
         #
           #
             #

In [100]:
#LAB 3-9 : 패턴 출력 응용
n=7
for i in range(n-1, -1, -1):
    st = ""
    for j in range(i):
        st += '  '
    print(st + '#')

            #
          #
        #
      #
    #
  #
#

In [101]:
n = 5
for i in range(n):
    print(n-(i+1), end=' ')

4 3 2 1 0

In [103]:
n = 5
for i in range(n):
    print(2*i+1, end=' ')

1 3 5 7 9

In [112]:
#삼각형 패턴
n=5
for i in range(n):
    for j in range(n-i-1):
        print(" ", end='')
    for j in range(2*i+1):
        print("+", end='')
    print()

print("\n\n")

#Sample Code
n=5
for i in range(n):
    for j in range(n - (i+1)): #공백을 출력함
        print(" ", end='')
    for j in range(2*i+1):
        print("+", end='')      #'+'를 출력함
    print()

    +
   +++
  +++++
 +++++++
+++++++++



    +
   +++
  +++++
 +++++++
+++++++++

In [114]:
n=5
for i in range(n):
    print(" "*(n-i-1), end="")
    print("+"*(2*i+1))

    +
   +++
  +++++
 +++++++
+++++++++

In [115]:
n =  int(input("수를 입력하세요: "))
is_prime = True
for num in range(2,n):
    if n%num == 0:
        is_prime = False
print(n, "is prime: ", is_prime)

수를 입력하세요: 11
11 is prime:  True

In [117]:
primes = []
for n in range(2,101):
    is_prime = True
    for num in range(2,n):
        if n%num == 0:
            is_prime = False
    if is_prime:
        primes.append(n)

print(*primes)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [118]:
i = 0
while i<5:
    print("Hello World!")
    i += 1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [119]:
n = int(input("합계를 구할 수를 입력하세요 :"))
s = 0
i = 1
while i <= n:
    s += i
    i += 1
print("1부터 {}까지의 합은 {}".format(n, s))

합계를 구할 수를 입력하세요 :10
1부터 10까지의 합은 55

In [121]:
selected = None
while selected not in ['가위','바위','보']:
    selected = input('가위, 바위, 보 중에서 선택하세요> ')
print("선택한 값은 : ", selected)

가위, 바위, 보 중에서 선택하세요> 2
가위, 바위, 보 중에서 선택하세요> 묵
가위, 바위, 보 중에서 선택하세요> 가위
선택한 값은 :  가위

In [123]:
st = 'Programming'

for ch in st:
    if ch in ['a','e','i','o','u']:
      break
    print(ch)
print("The end")

P
r
The end

In [124]:
st = 'Programming'

for ch in st:
    if ch in ['a','e','i','o','u']:
        continue
    print(ch)
print("The end")

P
r
g
r
m
m
n
g
The end