<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week12/HW6_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#6.7-6.17, 6.20-6.26

In [1]:
#6.7
income = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
count = 0
for i in range(0,len(income)-1):
    if income[i] > income[i+1]:
        count += 1
print("일일 매출 기록:", income)
print("지난 10일 동안 전일대비 매출이 감소한 날은 %d일입니다."%count)

일일 매출 기록: (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
지난 10일 동안 전일대비 매출이 감소한 날은 3일입니다.

In [2]:
#6.8
tup = (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
dup = set()
for i in tup:
    if tup.count(i) > 1:
        dup.add(i)
print("주어진 튜플은:", tup)
print("중복 원소는:", dup)

주어진 튜플은: (1, 2, 5, 4, 3, 2, 9, 1, 4, 7, 8, 9, 9)
중복 원소는: {1, 2, 4, 9}

In [3]:
#6.9
tup = (1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
print("주어진 튜플:",tup)
tup = tuple(set(tup))
print("중복 제거 튜플:",tup)

주어진 튜플: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
중복 제거 튜플: (1, 2, 3, 4, 5, 7, 8, 9)

In [4]:
#6.10 - 1
tup = (1,2,5,4,3,2,1,4,7,8,9,9,3,7,3)
print("주어진 튜플은:",tup)
M = tup[0]
for i in tup:
    if tup.count(i) >= tup.count(M):
        M = i if tup.count(i)>tup.count(M) else (i if i>M else M)
print("가장 많이 나타나는 요소는:", M)

주어진 튜플은: (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 요소는: 3

In [5]:
#6.10 - 2
tup = (1,2,5,4,3,2,9,4,7,8,9,9,3,7,3)
print("주어진 튜플은:",tup)
M = tup[0]
for i in tup:
    if tup.count(i) >= tup.count(M):
        M = i if tup.count(i)>tup.count(M) else (i if i>M else M)
print("가장 많이 나타나는 요소는:", M)

주어진 튜플은: (1, 2, 5, 4, 3, 2, 9, 4, 7, 8, 9, 9, 3, 7, 3)
가장 많이 나타나는 요소는: 9

In [6]:
#6.11
lst = [(), 1, (), (), (1,), ('a',), ('a','b'), ((),), ('a', 'b'), '']
print("주어진 리스트 :", lst)
newlist = []
for i in lst:
    if i not in [(), '', []]:
        newlist.append(i)
print("빈 튜플 요소를 제거한 결과 :", newlist)

주어진 리스트 : [(), 1, (), (), (1,), ('a',), ('a', 'b'), ((),), ('a', 'b'), '']
빈 튜플 요소를 제거한 결과 : [1, (1,), ('a',), ('a', 'b'), ((),), ('a', 'b')]

In [9]:
#6.12
lst = [5,6,3,9,2,12,3,8,7]
print("주어진 리스트는 =",lst)
lst.append(lst.pop(lst.index(max(lst))))
print("가장 큰 수를 마지막으로 옮긴 결과:",lst)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
가장 큰 수를 마지막으로 옮긴 결과: [5, 6, 3, 9, 2, 3, 8, 7, 12]

In [36]:
#6.13 (원래 버블정렬 방식)
lst = [5,6,3,9,2,12,3,8,7]
print("주어진 리스트는 =", lst)
for i in range(0, len(lst)):
    for j in range(len(lst)-1, i, -1):
        if lst[j-1] > lst[j]:
            lst[j-1], lst[j] = lst[j], lst[j-1]
    # print(lst)
print("정렬된 결과는 =",lst)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는 = [2, 3, 3, 5, 6, 7, 8, 9, 12]

In [31]:
#6.13 (문제가 요구하는 방식)
lst = [5,6,3,9,2,12,3,8,7]
print("주어진 리스트는 =", lst)
for i in range(len(lst)-1, 0, -1):
    lst.insert(i,lst.pop(lst.index(max(lst[0:i+1]))))
print("정렬된 결과는 =",lst)

주어진 리스트는 = [5, 6, 3, 9, 2, 12, 3, 8, 7]
정렬된 결과는 = [2, 3, 3, 5, 6, 7, 8, 9, 12]

In [33]:
#6.14
lst = [5,6,31,9,2,12,13,8,7]
print("정렬전 리스트:", lst)
for i in range(len(lst)-1, 0, -1):
    lst.insert(i,lst.pop(lst.index(max(lst[0:i+1]))))
    print("{} 단계 : {}, {}".format(len(lst)-i, lst[0:i], lst[i:len(lst)]))
print("정렬된 결과는 =", lst)

정렬전 리스트: [5, 6, 31, 9, 2, 12, 13, 8, 7]
1 단계 : [5, 6, 9, 2, 12, 13, 8, 7], [31]
2 단계 : [5, 6, 9, 2, 12, 8, 7], [13, 31]
3 단계 : [5, 6, 9, 2, 8, 7], [12, 13, 31]
4 단계 : [5, 6, 2, 8, 7], [9, 12, 13, 31]
5 단계 : [5, 6, 2, 7], [8, 9, 12, 13, 31]
6 단계 : [5, 6, 2], [7, 8, 9, 12, 13, 31]
7 단계 : [5, 2], [6, 7, 8, 9, 12, 13, 31]
8 단계 : [2], [5, 6, 7, 8, 9, 12, 13, 31]
정렬된 결과는 = [2, 5, 6, 7, 8, 9, 12, 13, 31]

In [38]:
#6.15
tup = (4,5,2,3,8,1,9,0)
for i in range(len(tup), 0, -1):
    print(tup[0:i])

(4, 5, 2, 3, 8, 1, 9, 0)
(4, 5, 2, 3, 8, 1, 9)
(4, 5, 2, 3, 8, 1)
(4, 5, 2, 3, 8)
(4, 5, 2, 3)
(4, 5, 2)
(4, 5)
(4,)

In [43]:
#6.16
student_tuple = (('191101','홍길동','010-123-45xx'),('191102','임꺽정','010-223-45xx'),('191103','장길산','010-323-45xx'))
info = dict((student_tuple[0][0:2],student_tuple[1][0:2],student_tuple[2][0:2]))
print("학생 정보:", info)
while True:
    a = input("학번을 입력하세요 : ")
    if int(a) < 0:
        print("프로그램을 종료합니다.")
        break;
    if info.get(a) != None:
        print("{}번 학생은 {}입니다.".format(a, info.get(a)))
    else:
        print("해당 학번의 학생이 없습니다.")

학생 정보: {'191101': '홍길동', '191102': '임꺽정', '191103': '장길산'}
학번을 입력하세요 : 191102
191102번 학생은 임꺽정입니다.
학번을 입력하세요 : 191106
해당 학번의 학생이 없습니다.
학번을 입력하세요 : -1
프로그램을 종료합니다.

In [48]:
#6.17
population_A= (100,150,230,120,180,100,140,95,81,21,4)
population_B = (300,420,530,420,400,300,40,5,1,1,1)
print("(1)마을 A와 B에 보낼 투표용지의 개수는 각각 {} 장과 {} 장입니다.".format(sum(population_A[2:]), sum(population_B[2:]) ))
print("(2)마을 A와 B의 고령화 정도는 각각 {:.3f}와 {:.3f}입니다.".format( sum(population_A[7:])/sum(population_A), sum(population_B[7:])/sum(population_B) ))

(1)마을 A와 B에 보낼 투표용지의 개수는 각각 971 장과 1698 장입니다.
(2)마을 A와 B의 고령화 정도는 각각 0.165와 0.003입니다.

In [74]:
#6.20
scores = (
    ('박동규', 88, 95, 90),
    ('강영민', 85, 90, 95),
    ('박동민', 70, 90, 80),
    ('홍승주', 90, 90, 95),
)
name, kor, math, sci = zip(*scores)
print("(1)학생들의 수학 성적의 평균은 {:.2f}입니다.".format( sum(math)/len(math) ))
print("(2)학생들의 수학과 과학 성적의 평균은 {:.3f}입니다.".format( (sum(math)+sum(sci))/len(math)/2 ))
student_dic = dict((
    (scores[0][0], sum(scores[0][1:])/3),
    (scores[1][0], sum(scores[1][1:])/3),
    (scores[2][0], sum(scores[2][1:])/3),
    (scores[3][0], sum(scores[3][1:])/3),
))
print("이름\t\t평균성적")
print("-"*30)
print("{}\t\t{:.2f}".format('박동규', student_dic.get('박동규')))
print("{}\t\t{:.2f}".format('강영민', student_dic.get('강영민')))
print("{}\t\t{:.2f}".format('박동민', student_dic.get('박동민')))
print("{}\t\t{:.2f}".format('홍승주', student_dic.get('홍승주')))

(1)학생들의 수학 성적의 평균은 91.25입니다.
(2)학생들의 수학과 과학 성적의 평균은 90.625입니다.
이름		평균성적
------------------------------
박동규		91.00
강영민		90.00
박동민		80.00
홍승주		91.67