<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week12/Lab6_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}

In [ ]:
person['이름']

'홍길동'

In [ ]:
person['나이']

26

In [ ]:
person['몸무게']

82

In [ ]:
students = {2019001:'이순신', 2019002:'김유신', 2019003:'강감찬'}

In [ ]:
students[2019001]

'이순신'

In [ ]:
students[2019003]

'강감찬'

In [ ]:
#LAB 6-1-1 : 딕셔너리의 생성
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

In [ ]:
#LAB 6-1-2
fruits_dic = {'apple':5000, 'banana':4000, 'grape':5300, 'melon':6500}
print('apple의 가격은 %d원입니다.'%fruits_dic['apple'])
print('banana의 가격은 %d원입니다.'%fruits_dic['banana'])
print('grape의 가격은 %d원입니다.'%fruits_dic['grape'])
print('melon의 가격은 %d원입니다.'%fruits_dic['melon'])

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
person['직업'] = '율도국의 왕'
person

{'나이': 26, '몸무게': 82, '이름': '홍길동', '직업': '율도국의 왕'}

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
person['나이'] = 27
person

{'나이': 27, '몸무게': 82, '이름': '홍길동'}

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
del person['나이']
person

{'몸무게': 82, '이름': '홍길동'}

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
del person['출생지']
person

KeyError: ignored

In [ ]:
#LAB 6-2-1 : 딕셔너리의 항목 추가와 삭제
person = {'이름':'홍길동', '나이':26, '몸무게':82}
person['특기'] = '분신술'
person

{'나이': 26, '몸무게': 82, '이름': '홍길동', '특기': '분신술'}

In [ ]:
#LAB 6-2-2
person['아버지'] = '홍판서'
person

{'나이': 26, '몸무게': 82, '아버지': '홍판서', '이름': '홍길동', '특기': '분신술'}

In [ ]:
#LAB 6-2-3
del person['나이']
person

{'몸무게': 82, '아버지': '홍판서', '이름': '홍길동', '특기': '분신술'}

In [ ]:
person = {'이름':'홍길동','나이':26,'몸무게':82}
print(len(person))
print('이름' in person)
print('직업' in person)
print('홍길동' in person)

3
True
False
False

In [ ]:
d1 = {'이름':'홍길동', '나이':26}
d2 = {'나이':26, '이름':'홍길동'}
d1 == d2

True

In [ ]:
d1>d2

TypeError: ignored

In [ ]:
#LAB 6-3-1 : 딕셔너리와 연산
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}
print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

In [ ]:
person = {'이름':'홍길동', '직업':'율도국의 왕', '몸무게':82}

In [ ]:
'직업' in person

True

In [ ]:
person.keys()

dict_keys(['이름', '직업', '몸무게'])

In [ ]:
person.values()

dict_values(['홍길동', '율도국의 왕', 82])

In [ ]:
person.items()

dict_items([('이름', '홍길동'), ('직업', '율도국의 왕'), ('몸무게', 82)])

In [ ]:
person.get('이름')

'홍길동'

In [ ]:
person.clear()
person

{}

In [ ]:
x = person.get('나이')
print(x)

None

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}

In [ ]:
person.popitem()
person

{'나이': 26, '이름': '홍길동'}

In [ ]:
person.pop('이름')

'홍길동'

In [ ]:
person

{'나이': 26}

In [ ]:
#LAB 6-4 : 딕셔너리의 활용
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}
print(fruits_dic.keys())
print(fruits_dic.values())
print(fruits_dic.pop('apple'))
print(fruits_dic.clear())

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])
6000
None

In [ ]:
person = {'이름':'홍길동', '나이':26, '몸무게':82}
for key in person:
    print('{} : {}'.format(key, person[key]))

이름 : 홍길동
나이 : 26
몸무게 : 82

In [ ]:
lst = [11,22,33,44,55]
print('pop(0) 이전 :', lst)
print('pop(0) 이전 lst[1] = ', lst[1])
lst.pop(0)
print('pop(0) 이후 :', lst)
print('pop(0) 이후 lst[1] = ', lst[1])

pop(0) 이전 : [11, 22, 33, 44, 55]
pop(0) 이전 lst[1] =  22
pop(0) 이후 : [22, 33, 44, 55]
pop(0) 이후 lst[1] =  33

In [ ]:
dic = {0:11, 1:22, 2:33, 3:44, 4:55}
print('pop(0) 이전 :', dic.items())
print('pop(0) 이전 dic[1] = ', dic[1])
dic.pop(0)
print('pop(0) 이후 :', dic.items())
print('pop(0) 이후 dic[1] = ', dic[1])

pop(0) 이전 : dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
pop(0) 이전 dic[1] =  22
pop(0) 이후 : dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
pop(0) 이후 dic[1] =  22

In [ ]:
#LAB 6-5 : 딕셔너리의 활용
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':4000}
keys = list(fruits_dic.keys())
print(keys)
values = list(fruits_dic.values())
print(values)
print("fruits_dic 딕셔너리의 항목의 개수 :", len(fruits_dic))
print("apple is {} fruits_dic.".format("in" if 'apple' in fruits_dic else "not in"))
print("mango is {} fruits_dic.".format("in" if 'mango' in fruits_dic else "not in"))

['apple', 'melon', 'banana', 'orange']
[6000, 3000, 5000, 4000]
fruits_dic 딕셔너리의 항목의 개수 : 4
apple is in fruits_dic.
mango is not in fruits_dic.

In [ ]:
t = (1,2,3,4)
type(t)

tuple

In [ ]:
t[0]

1

In [ ]:
t[1]

2

In [ ]:
tup = (100)
print(tup)
print(type(tup))

100
<class 'int'>

In [ ]:
tup = (100,)
print(tup)
print(type(tup))

(100,)
<class 'tuple'>

In [ ]:
t = (0,1,2,3,4)
t[0] = 100

TypeError: ignored

In [ ]:
a = (1,2)
a[0]

1

In [ ]:
c = (3,4)
d,e = c
d

3

In [ ]:
a = 100
b = 200
print('swap 이전: a=', a, 'b =', b)
temp = a
a = b
b = temp
print('swap 이후: a=', a, 'b =', b)

swap 이전: a= 100 b = 200
swap 이후: a= 200 b = 100

In [ ]:
a=100
b=200
print('swap 이전: a=', a, 'b =', b)
a,b=b,a
print('튜플을 사용한 swap 결과: a=', a, 'b =', b)

swap 이전: a= 100 b = 200
튜플을 사용한 swap 결과: a= 200 b = 100

In [ ]:
#LAB 6-6-1 : 튜플의 생성과 패킹, 언패킹
the_day = (1919,3,1)
y,m,d = the_day[0],the_day[1],the_day[2]
print("%d년 %d월 %d일은 삼일절입니다."%(y,m,d))

1919년 3월 1일은 삼일절입니다.

In [ ]:
#LAB 6-6-2
nlist = [10,20,30]
a,b,c = tuple(nlist)[2],tuple(nlist)[1],tuple(nlist)[0]
print("a =", a)
print("b =", b)
print("c =", c)

a = 30
b = 20
c = 10

In [ ]:
t0 = (10,20,30)
t1 = t0 + t0
t1

(10, 20, 30, 10, 20, 30)

In [ ]:
t2 = t0*2
t2

(10, 20, 30, 10, 20, 30)

In [ ]:
t3 = t0 + 40

TypeError: ignored

In [ ]:
t4 = t0 + (40,)
t4

(10, 20, 30, 40)

In [ ]:
t = (10,20,30,20,20,10,50)
t.count(10)

2

In [ ]:
t.count(20)

3

In [ ]:
t.index(30)

2

In [ ]:
t.index(50)

6

In [ ]:
t_fruits = ('apple','orange','water melon')
print('변경 전 :', t_fruits)
f_list = list(t_fruits)
f_list[1] = 'kiwi'
t_fruits = tuple(f_list)
print("변경 후 :", t_fruits)

변경 전 : ('apple', 'orange', 'water melon')
변경 후 : ('apple', 'kiwi', 'water melon')

In [ ]:
#LAB 6-7-1~2 : 튜플의 활용
person = ('홍길동', 2019001, 179)
person[1] = 2019003

TypeError: ignored

In [ ]:
#LAB 6-7-3
person = ('홍길동', 2019001, 179)
tmp = list(person)
tmp[1] = 2019003
person = tuple(tmp)
print("학번 변동 후 person =", person)

학번 변동 후 person = ('홍길동', 2019003, 179)

In [ ]:
def area_and_circum(radius):
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum
r = 4
a, c = area_and_circum(r)
print("반지름 {}인 원의 면적과 둘레 : {}, {}".format(r,a,c))

반지름 4인 원의 면적과 둘레 : 50.24, 25.12

In [ ]:
#LAB 6-8-1 : 튜플의 반환
def square(x,y):
    return x**2, y**2
x = 10
y = 20
x_sq, y_sq = square(x,y)
print("{} 제곱 = {}, {} 제곱 = {}".format(x,x_sq,y,y_sq))

10 제곱 = 100, 20 제곱 = 400

In [ ]:
#LAB 6-8-2
(10, 20, 30)+(40,50,60)

(10, 20, 30, 40, 50, 60)

In [ ]:
#LAB 6-8-3
print('Hello ' * 3) #Hello를 3번 반복
print(('Hello ',) * 3) #('Hello', 'Hello', 'Hello')라는 튜플을 출력

Hello Hello Hello
('Hello ', 'Hello ', 'Hello ')

In [1]:
set0 = set()

In [2]:
set0

set()

In [3]:
set0 = {}

In [4]:
set0

{}

In [5]:
type(set0)

dict

In [7]:
days_list = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
days_set = set(days_list)
days_set

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [8]:
fruits_tuple = ('apple','orange','water melon')
fruits_set = set(fruits_tuple)
fruits_set

{'apple', 'orange', 'water melon'}

In [9]:
h_str = 'hello'
h_set = set(h_str)
h_set

{'e', 'h', 'l', 'o'}

In [11]:
#LAB 6-9-1 : 집합의 생성
lst = ['apple','mango','banana']
s1 = set(lst)
print("s1 =", s1)

s1 = {'banana', 'apple', 'mango'}

In [12]:
#LAB 6-9-2
greet = 'Good afternoon'
s2 = set(greet)
print("s2 =", s2)

s2 = {'r', 'o', 'e', 'f', 't', ' ', 'G', 'n', 'a', 'd'}

In [13]:
s = {100, 100, 200, 200, 300, 400}
s

{100, 200, 300, 400}

In [15]:
s.add(500)
s

{100, 200, 300, 400, 500}

In [16]:
s.discard(100)
s

{200, 300, 400, 500}

In [17]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

In [18]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
s1 & s2

{4, 5, 6}

In [21]:
s1 - s2

{1, 2, 3}

In [22]:
s1 ^ s2

{1, 2, 3, 7, 8, 9}

In [23]:
s1.intersection(s2)

{4, 5, 6}

In [24]:
s1.difference(s2)

{1, 2, 3}

In [25]:
s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9}

In [26]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {5,6,9,10,11}
s1 & s2 & s3

{5, 6}

In [27]:
s1-s2-s3

{1, 2, 3}

In [28]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s3 = {1,2,6}

In [29]:
s2.issubset(s1)

True

In [30]:
s3.issubset(s1)

False

In [31]:
s1.issuperset(s2)

True

In [32]:
s1.issuperset(s3)

False

In [33]:
s1 = {1,2,3}
s2 = {10,20,30}
s1.isdisjoint(s2)

True

In [35]:
#LAB 6-10 : 집합의 연산
s1 = {10,20,30,40}
s2 = {30,40,50,60,70}
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

In [37]:
def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}
    return res
A = {1,3}
B = {2,4}
AxB = product_set(A,B)
print("A =", A)
print("B =", B)
print("AxB =", AxB)

A = {1, 3}
B = {2, 4}
AxB = {(1, 2), (3, 2), (3, 4), (1, 4)}

In [38]:
#LAB 6-11 : 곱집합 연산
A = {1,2}
B = {'A','B','C'}
print("AxB =", product_set(A,B))
print("BxA =", product_set(B,A))
print("AxA =", product_set(A,A))
print("BxB =", product_set(B,B))

AxB = {(1, 'C'), (1, 'A'), (2, 'A'), (2, 'C'), (2, 'B'), (1, 'B')}
BxA = {('A', 2), ('B', 1), ('C', 2), ('A', 1), ('C', 1), ('B', 2)}
AxA = {(1, 2), (1, 1), (2, 1), (2, 2)}
BxB = {('C', 'A'), ('A', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'B'), ('A', 'C'), ('C', 'C'), ('B', 'A'), ('A', 'B')}

In [39]:
def exp(input_set, exponent):
    res = input_set
    for _ in range(exponent-1):
        res = product_set(res, input_set)
    return res
A = {1,3}
A3 = exp(A,3)
print(A3)

{((1, 1), 1), ((3, 1), 1), ((1, 3), 3), ((1, 1), 3), ((3, 3), 1), ((1, 3), 1), ((3, 1), 3), ((3, 3), 3)}

In [40]:
def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i,j)}
    return res
cases = {1,2,3,4,5,6}
cases_2times = product_set(cases, cases)
print(cases_2times)

{(1, 3), (6, 6), (5, 6), (2, 1), (6, 2), (1, 6), (5, 1), (2, 5), (1, 2), (3, 3), (5, 5), (4, 4), (6, 3), (1, 5), (3, 6), (2, 2), (3, 4), (4, 1), (1, 1), (6, 4), (3, 2), (2, 6), (5, 4), (4, 5), (1, 4), (2, 3), (4, 2), (6, 5), (3, 5), (5, 3), (4, 6), (6, 1), (3, 1), (4, 3), (5, 2), (2, 4)}

In [41]:
a_tuple = (1,2,3,4,5)
sum(a_tuple)

15

In [43]:
a_new_list = [sum(tuple_element) for tuple_element in cases_2times]
a_new_list

[4,
 12,
 11,
 3,
 8,
 7,
 6,
 7,
 3,
 6,
 10,
 8,
 9,
 6,
 9,
 4,
 7,
 5,
 2,
 10,
 5,
 8,
 9,
 9,
 5,
 5,
 6,
 11,
 8,
 8,
 10,
 7,
 4,
 7,
 7,
 6]

In [44]:
a_new_set = {sum(tuple_element) for tuple_element in cases_2times}
a_new_set

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [45]:
def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res|{(i,j)}
    return res

cases = {1,2,3,4,5,6}
cases_2times = product_set(cases, cases)

sum_set = {sum(tup) for tup in cases_2times}
print("sum_set =", sum_set)
sum_list = [sum(tup) for tup in cases_2times]
print("sum_list =", sum_list)

sum_set = {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
sum_list = [4, 12, 11, 3, 8, 7, 6, 7, 3, 6, 10, 8, 9, 6, 9, 4, 7, 5, 2, 10, 5, 8, 9, 9, 5, 5, 6, 11, 8, 8, 10, 7, 4, 7, 7, 6]

In [46]:
cases_3times = product_set(cases, cases_2times)
cases_3times

{(1, (1, 1)),
 (1, (1, 2)),
 (1, (1, 3)),
 (1, (1, 4)),
 (1, (1, 5)),
 (1, (1, 6)),
 (1, (2, 1)),
 (1, (2, 2)),
 (1, (2, 3)),
 (1, (2, 4)),
 (1, (2, 5)),
 (1, (2, 6)),
 (1, (3, 1)),
 (1, (3, 2)),
 (1, (3, 3)),
 (1, (3, 4)),
 (1, (3, 5)),
 (1, (3, 6)),
 (1, (4, 1)),
 (1, (4, 2)),
 (1, (4, 3)),
 (1, (4, 4)),
 (1, (4, 5)),
 (1, (4, 6)),
 (1, (5, 1)),
 (1, (5, 2)),
 (1, (5, 3)),
 (1, (5, 4)),
 (1, (5, 5)),
 (1, (5, 6)),
 (1, (6, 1)),
 (1, (6, 2)),
 (1, (6, 3)),
 (1, (6, 4)),
 (1, (6, 5)),
 (1, (6, 6)),
 (2, (1, 1)),
 (2, (1, 2)),
 (2, (1, 3)),
 (2, (1, 4)),
 (2, (1, 5)),
 (2, (1, 6)),
 (2, (2, 1)),
 (2, (2, 2)),
 (2, (2, 3)),
 (2, (2, 4)),
 (2, (2, 5)),
 (2, (2, 6)),
 (2, (3, 1)),
 (2, (3, 2)),
 (2, (3, 3)),
 (2, (3, 4)),
 (2, (3, 5)),
 (2, (3, 6)),
 (2, (4, 1)),
 (2, (4, 2)),
 (2, (4, 3)),
 (2, (4, 4)),
 (2, (4, 5)),
 (2, (4, 6)),
 (2, (5, 1)),
 (2, (5, 2)),
 (2, (5, 3)),
 (2, (5, 4)),
 (2, (5, 5)),
 (2, (5, 6)),
 (2, (6, 1)),
 (2, (6, 2)),
 (2, (6, 3)),
 (2, (6, 4)),
 (2, (6, 5)),
 (2, (6, 6)),
 (3, (1, 1)),
 (3, (1, 2)),
 (3, (1, 3)),
 (3, (1, 4)),
 (3, (1, 5)),
 (3, (1, 6)),
 (3, (2, 1)),
 (3, (2, 2)),
 (3, (2, 3)),
 (3, (2, 4)),
 (3, (2, 5)),
 (3, (2, 6)),
 (3, (3, 1)),
 (3, (3, 2)),
 (3, (3, 3)),
 (3, (3, 4)),
 (3, (3, 5)),
 (3, (3, 6)),
 (3, (4, 1)),
 (3, (4, 2)),
 (3, (4, 3)),
 (3, (4, 4)),
 (3, (4, 5)),
 (3, (4, 6)),
 (3, (5, 1)),
 (3, (5, 2)),
 (3, (5, 3)),
 (3, (5, 4)),
 (3, (5, 5)),
 (3, (5, 6)),
 (3, (6, 1)),
 (3, (6, 2)),
 (3, (6, 3)),
 (3, (6, 4)),
 (3, (6, 5)),
 (3, (6, 6)),
 (4, (1, 1)),
 (4, (1, 2)),
 (4, (1, 3)),
 (4, (1, 4)),
 (4, (1, 5)),
 (4, (1, 6)),
 (4, (2, 1)),
 (4, (2, 2)),
 (4, (2, 3)),
 (4, (2, 4)),
 (4, (2, 5)),
 (4, (2, 6)),
 (4, (3, 1)),
 (4, (3, 2)),
 (4, (3, 3)),
 (4, (3, 4)),
 (4, (3, 5)),
 (4, (3, 6)),
 (4, (4, 1)),
 (4, (4, 2)),
 (4, (4, 3)),
 (4, (4, 4)),
 (4, (4, 5)),
 (4, (4, 6)),
 (4, (5, 1)),
 (4, (5, 2)),
 (4, (5, 3)),
 (4, (5, 4)),
 (4, (5, 5)),
 (4, (5, 6)),
 (4, (6, 1)),
 (4, (6, 2)),
 (4, (6, 3)),
 (4, (6, 4)),
 (4, (6, 5)),
 (4, (6, 6)),
 (5, (1, 1)),
 (5, (1, 2)),
 (5, (1, 3)),
 (5, (1, 4)),
 (5, (1, 5)),
 (5, (1, 6)),
 (5, (2, 1)),
 (5, (2, 2)),
 (5, (2, 3)),
 (5, (2, 4)),
 (5, (2, 5)),
 (5, (2, 6)),
 (5, (3, 1)),
 (5, (3, 2)),
 (5, (3, 3)),
 (5, (3, 4)),
 (5, (3, 5)),
 (5, (3, 6)),
 (5, (4, 1)),
 (5, (4, 2)),
 (5, (4, 3)),
 (5, (4, 4)),
 (5, (4, 5)),
 (5, (4, 6)),
 (5, (5, 1)),
 (5, (5, 2)),
 (5, (5, 3)),
 (5, (5, 4)),
 (5, (5, 5)),
 (5, (5, 6)),
 (5, (6, 1)),
 (5, (6, 2)),
 (5, (6, 3)),
 (5, (6, 4)),
 (5, (6, 5)),
 (5, (6, 6)),
 (6, (1, 1)),
 (6, (1, 2)),
 (6, (1, 3)),
 (6, (1, 4)),
 (6, (1, 5)),
 (6, (1, 6)),
 (6, (2, 1)),
 (6, (2, 2)),
 (6, (2, 3)),
 (6, (2, 4)),
 (6, (2, 5)),
 (6, (2, 6)),
 (6, (3, 1)),
 (6, (3, 2)),
 (6, (3, 3)),
 (6, (3, 4)),
 (6, (3, 5)),
 (6, (3, 6)),
 (6, (4, 1)),
 (6, (4, 2)),
 (6, (4, 3)),
 (6, (4, 4)),
 (6, (4, 5)),
 (6, (4, 6)),
 (6, (5, 1)),
 (6, (5, 2)),
 (6, (5, 3)),
 (6, (5, 4)),
 (6, (5, 5)),
 (6, (5, 6)),
 (6, (6, 1)),
 (6, (6, 2)),
 (6, (6, 3)),
 (6, (6, 4)),
 (6, (6, 5)),
 (6, (6, 6))}

In [48]:
def tuple_sum(tup):
    if isinstance(tup, int):
        return tup
    else:
        accum = 0
        for element in tup:
            accum += tuple_sum(element)
    return accum

sums = [tuple_sum(tup) for tup in cases_3times]
print(sums)

[12, 5, 8, 9, 9, 10, 10, 12, 14, 10, 6, 8, 9, 6, 9, 10, 15, 10, 13, 13, 7, 13, 10, 7, 8, 12, 9, 13, 7, 14, 7, 6, 10, 8, 5, 12, 13, 9, 10, 11, 11, 9, 14, 11, 12, 12, 12, 9, 15, 15, 8, 13, 6, 17, 8, 9, 13, 16, 9, 13, 11, 18, 7, 7, 14, 11, 4, 10, 10, 11, 12, 12, 14, 12, 9, 13, 12, 13, 12, 5, 11, 8, 5, 6, 16, 14, 11, 11, 6, 13, 11, 12, 13, 8, 11, 8, 8, 9, 9, 11, 12, 13, 16, 11, 8, 7, 11, 12, 12, 7, 8, 9, 8, 12, 5, 13, 7, 16, 16, 14, 9, 12, 11, 10, 10, 10, 8, 12, 10, 13, 15, 10, 10, 9, 15, 13, 15, 10, 15, 6, 14, 14, 4, 11, 7, 17, 6, 14, 11, 8, 7, 9, 10, 8, 10, 13, 10, 6, 9, 7, 10, 15, 14, 15, 9, 7, 9, 9, 14, 13, 10, 14, 12, 9, 10, 11, 4, 5, 10, 15, 16, 6, 9, 10, 12, 13, 11, 10, 11, 9, 11, 8, 12, 12, 11, 11, 8, 11, 17, 9, 14, 11, 10, 8, 7, 8, 11, 12, 11, 13, 13, 3, 12, 14, 8, 7]

In [51]:
#LAB 6-12 : 복수로 주사위를 던졌을 때 특정값 이상을 얻을 확률 구하기
def tuple_sum(tup):
    if isinstance(tup, int):
        return tup
    else:
        accum = 0
        for element in tup:
            accum += tuple_sum(element)
    return accum
def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res|{(i,j)}
    return res
def exp(input_set, exponent):
    res = input_set
    for _ in range(exponent-1):
        res = product_set(res, input_set)
    return res
cases = {1,2,3,4,5,6}
print("주사위를 세 번 던져 발생할 수 있는 사건은 {}가지 경우가 존재합니다.".format(len(exp(cases , 3))))
cases_3times = exp(cases, 3)
sumlist_cases_3times = [tuple_sum(tup) for tup in cases_3times]
count = 0
for i in sumlist_cases_3times:
    if i >= 10:
        count +=1
print("주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 %d가지입니다."%(count))

주사위를 세 번 던져 발생할 수 있는 사건은 216가지 경우가 존재합니다.
주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 135가지입니다.

In [58]:
def prob_over(x):
    count = 0
    for i in sumlist_cases_3times:
        if i >= x:
            count +=1
    return count/len(exp(cases , 3))*100
for i in range(3,19):
    print("눈의 합으로 {:2d} 이상을 얻을 확률 {:>6.2f}%".format(i, prob_over(i)))

눈의 합으로  3 이상을 얻을 확률 100.00%
눈의 합으로  4 이상을 얻을 확률  99.54%
눈의 합으로  5 이상을 얻을 확률  98.15%
눈의 합으로  6 이상을 얻을 확률  95.37%
눈의 합으로  7 이상을 얻을 확률  90.74%
눈의 합으로  8 이상을 얻을 확률  83.80%
눈의 합으로  9 이상을 얻을 확률  74.07%
눈의 합으로 10 이상을 얻을 확률  62.50%
눈의 합으로 11 이상을 얻을 확률  50.00%
눈의 합으로 12 이상을 얻을 확률  37.50%
눈의 합으로 13 이상을 얻을 확률  25.93%
눈의 합으로 14 이상을 얻을 확률  16.20%
눈의 합으로 15 이상을 얻을 확률   9.26%
눈의 합으로 16 이상을 얻을 확률   4.63%
눈의 합으로 17 이상을 얻을 확률   1.85%
눈의 합으로 18 이상을 얻을 확률   0.46%

In [59]:
empty_iterator = zip()
result = set(empty_iterator)
result

set()

In [61]:
a = [10,20,30]
b = ('ten','twenty','thirty')
for val in zip(a,b):
    print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thirty')

In [62]:
lst = ['a','b','hello','this']
my_iterator = zip(lst)
result = set(my_iterator)
result

{('a',), ('b',), ('hello',), ('this',)}

In [63]:
str_list = ['hello','world','python','rocks']
int_tuple = (1,2,3)
int_list = [400,500,600,700,800]
my_iterator = zip(str_list, int_tuple, int_list)
list(my_iterator)

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]

In [65]:
zip_lst = list(zip(str_list, int_tuple, int_list))
a,b,c = zip(*zip_lst)
print(a,b,c)

('hello', 'world', 'python') (1, 2, 3) (400, 500, 600)

In [67]:
tu = tuple(range(0,10))
print(tu[1:5])
print(tu[0:10:3])
print(tu[::-1])

(1, 2, 3, 4)
(0, 3, 6, 9)
(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [68]:
text = 'hello world'
print(text[1:5])
print(text[6:])
print(text[::3])
print(text[::-1])

ello
world
hlwl
dlrow olleh