<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week5/hw2_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2.2
width = 30
height = 60

In [ ]:
print(width)

30

In [ ]:
print(height)

60

In [ ]:
#2.5
length = int(input('정사각형의 밑변을 입력하시오 :'))
print("정사각형의 면적 :", length**2)

정사각형의 밑변을 입력하시오 :40
정사각형의 면적 : 1600

In [ ]:
#2.6
print("1에서 10까지의 합 :", 1+2+3+4+5+6+7+8+9+10)

1에서 10까지의 합 : 55

In [ ]:
#2.7
print("10! =", 10*9*8*7*6*5*4*3*2*1)

10! = 3628800

In [ ]:
#2.8 square_table.py
n=2
print("a\tn\ta ** n")
for a in range (2,7):
  print("%d\t%d\t%d"%(a,n,a ** n))

a	n	a ** n
2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

In [ ]:
#2.9 cel2fah.py
print("섭씨\t화씨")
for cel in range (0,51,10):
  print("%d\t%.1f"%(cel, (9/5)*cel+32))

섭씨	화씨
0	32.0
10	50.0
20	68.0
30	86.0
40	104.0
50	122.0

In [ ]:
#2.10
cel = int(input("섭씨온도를 입력하세요 : "))
print("섭씨 %d 도는 화씨 %.1f 도 입니다."%(cel, (9/5)*cel+32))

섭씨온도를 입력하세요 : 30
섭씨 30 도는 화씨 86.0 도 입니다.

In [ ]:
#2.11
far = int(input("화씨온도를 입력하세요 : "))
print("화씨 %d 도는 섭씨 %.1f 도 입니다."%(far, (far-32)*(5/9)))

화씨온도를 입력하세요 : 86
화씨 86 도는 섭씨 30.0 도 입니다.

In [ ]:
#2.12
radius = 11
PI = 3.141592
print("원의 반지름 = %d, 원의 둘레 = %f, 원의 면적 = %f"%(radius, radius*2*PI, radius**2*PI))

원의 반지름 = 11, 원의 둘레 = 69.115024, 원의 면적 = 380.132632

In [ ]:
#2.13
radius = int(input("원의 반지름을 입력하세요 : "))
PI = 3.141592
print("원의 반지름 = %d, 원의 둘레 = %f, 원의 면적 = %f"%(radius, radius*2*PI, radius**2*PI))

원의 반지름을 입력하세요 : 11
원의 반지름 = 11, 원의 둘레 = 69.115024, 원의 면적 = 380.132632

In [ ]:
#2.14
for i in range(2,11):
  print("%d의 제곱근 ="%(i), i**0.5)

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

In [ ]:
#2.15
a = int(input("밑변을 입력하세요 : "))
b = int(input("높이를 입력하세요 : "))
print("빗변 :", (a**2+b**2)**0.5)

밑변을 입력하세요 : 5
높이를 입력하세요 : 12
빗변 : 13.0

In [ ]:
#2.16 1)
import math

num = 1+2j
deg90 = math.pi/2
print("회전하기 전 :", num)
n2 = complex(math.cos(deg90), math.sin(deg90))
#print(deg90, n2)
num = num*n2
print("90도 회전한 후 :", num)

회전하기 전 : (1+2j)
90도 회전한 후 : (-2+1.0000000000000002j)

In [ ]:
#2.16 2)
import math

num = 1+2j
deg30 = math.pi/6
print("회전하기 전 :", num)
n2 = complex(math.cos(deg30), math.sin(deg30))
num = num*n2
print("30도 회전한 후 :", num)

회전하기 전 : (1+2j)
30도 회전한 후 : (-0.13397459621556118+2.232050807568877j)

In [ ]:
#2.17
for i in range (0,10):
  print(2<<i, end=" ")

2 4 8 16 32 64 128 256 512 1024

In [ ]:
#2.18
n = int(input("정수를 입력하세요: "))
if n%2 == 0:
  print("이 수가 짝수인가요?", n%2==0)
else:
  print("이 수가 짝수인가요?", n%2==0)

정수를 입력하세요: 21
이 수가 짝수인가요? False

In [ ]:
#2.19
n = int(input("정수를 입력하세요: "))
print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?", 0 <= n <= 100)

n = int(input("정수를 입력하세요: "))
print("입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?", 0 <= n <= 100)

정수를 입력하세요: 120
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False
정수를 입력하세요: 88
입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True

In [ ]:
#2.20
a = 5
b = 6
print(bin(a), "&", bin(b), "=", bin(a&b))
print(bin(a), "|", bin(b), "=", bin(a|b))
print(bin(a), "^", bin(b), "=", bin(a^b))

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

In [ ]:
#2.21
n = int(input("정수를 입력하시오 : "))
print(n,"의 2진수 값 :", bin(n))
print(n,"의 2진수 값에 대한 비트단위 부정값 :", bin(~n))

정수를 입력하시오 : 9
9 의 2진수 값 : 0b1001
9 의 2진수 값에 대한 비트단위 부정값 : -0b1010

In [ ]:
#2.22
a = int(input("정수 a를 입력하시오 : "))
b = int(input("정수 b를 입력하시오 : "))
print("a / b의 몫 :", a//b)
print("a / b의 나머지 :", a%b)

정수 a를 입력하시오 : 202
정수 b를 입력하시오 : 50
a / b의 몫 : 4
a / b의 나머지 : 2

In [ ]:
#2.23
n = int(input("세 자리 정수를 입력하세요 : "))
print("백의 자리 :", n//100)
print("십의 자리 :", n%100//10)
print("일의 자리 :", n%100%10)

세 자리 정수를 입력하세요 : 245
백의 자리 : 2
십의 자리 : 4
일의 자리 : 5

In [ ]:
#2.24
n = int(input("세 자리 정수를 입력하세요 : "))
print(n%100%10)
print(n%100//10)
print(n//100)

세 자리 정수를 입력하세요 : 489
9
8
4