<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week13/Lab8%2B9_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a,b = input('두 수를 입력하시오 : ').split()
result = int(a)/int(b)

두 수를 입력하시오 : 10 0

ZeroDivisionError: ignored

In [2]:
a,b = input('두 수를 입력하시오 : ').split()
result = int(a)/int(b)

두 수를 입력하시오 : 사백 이백

ValueError: ignored

In [3]:
try:
    a,b = input('두 수를 입력하시오 : ').split()
    result = int(a)/int(b)
    print("{}/{} = {}".format(a, b, result))
except:
    print("수가 정확한지 확인하세요.")

두 수를 입력하시오 : 10 0
수가 정확한지 확인하세요.

In [4]:
try:
    b = 2/0
    a = 1+'hundred'
except Exception as e:
    print("error : ", e)

error :  division by zero

In [5]:
try:
    # b = 2/0
    a = 1+'hundred'
except Exception as e:
    print("error : ", e)

error :  unsupported operand type(s) for +: 'int' and 'str'

In [6]:
#LAB 8-1 : 다음 코드는 어떤 예외를 발생시키는가?
a = [10, 20, 30]
a[3]

IndexError: ignored

In [7]:
n = int('20%')

ValueError: ignored

In [8]:
a = 100 + '200'

TypeError: ignored

In [9]:
#LAB 8-2
try:
    a = [10, 20, 30]
    a[3]
except Exception as e:
    print("error : ", e)
try:
    n = int('20%')
except Exception as e:
    print("error : ", e)
try:
    a = 100 + '200'
except Exception as e:
    print("error : ", e)

error :  list index out of range
error :  invalid literal for int() with base 10: '20%'
error :  unsupported operand type(s) for +: 'int' and 'str'

In [11]:
try:
    # b = 2/0
    a = 1+'hundred'
except ZeroDivisionError:
    print("0으로 나눈 오류")
except TypeError:
    print("지원되지 않은 연산자를 사용하는 오류")

지원되지 않은 연산자를 사용하는 오류

In [12]:
try:
    # b = 2/0
    a = 1+'hundred'
except ZeroDivisionError:
    print("0으로 나눈 오류")
except TypeError:
    print("지원되지 않은 연산자를 사용하는 오류")
except Exception as e:
    print("error :", e)
    print("나눗셈과 연산자를 다시 확인하세요")

지원되지 않은 연산자를 사용하는 오류

In [14]:
try:
    a,b = input("두 수를 입력하시오 : ").split()
    result = int(a)/int(b)
except ZeroDivisionError:
    print("오류: 0으로 나눔을 시도했습니다.")
except ValueError:
    print("오류: 입력 값이 정수나 실수가 아닙니다.")
except:
    print("오류 : 10 2와 같이 두 정수를 입력하세요.")
else:
    print("{}/{} = {}".format(a,b,result))

두 수를 입력하시오 : 10 2
10/2 = 5.0

In [15]:
#LAB 8-2-1 : 다음 코드는 어떤 예외를 발생시키는가?
try:
    10*(30/0)
except ZeroDivisionError:
    print("0으로 나눌수 없습니다")

0으로 나눌수 없습니다

In [17]:
#LAB 8-2-2
try:
    x = int(input('정수 x를 입력하세요: '))
except ValueError:
    print("올바르지 않은 입력입니다.")
else:
    print("입력된 수 : %d"%x)

정수 x를 입력하세요: 오
올바르지 않은 입력입니다.

In [21]:
#LAB 8-2-3
import sys
try:
    f = open('myfile.txt')
    s = f.readline()
except FileNotFoundError:
    print("파일을 찾을 수 없습니다")

파일을 찾을 수 없습니다

In [24]:
def divide(x,y):
    try:
        result = x/y
    except ZeroDivisionError:
        print("0으로 나누는 오류발생")
    else:
        print("결과 :",result)
    finally:
        print("수행완료")
print("divide(100,2) 함수호출 :")
divide(100,2)
print("divide(100,0) 함수호출 :")
divide(100,0)

divide(100,2) 함수호출 :
결과 : 50.0
수행완료
divide(100,0) 함수호출 :
0으로 나누는 오류발생
수행완료

In [40]:
#LAB 8-3 : 예외의 생성과 처리
try:
    a = [1,2,3,4,5]
    print(a)
    n = int(input("a의 요소를 하나 선택하시오 : "))
    index = '다섯' if a[n-1]==5 else '네' if a[n-1]==4 else '세' if a[n-1]==3 else '두' if a[n-1]==2 else '첫'
except ValueError:
    print("오류 : 입력 값이 정수나 실수가 아님")
except IndexError:
    print("오류 : 5 이하의 값을 입력하세요")
else:
    print("{} 은(는) {} 번째 요소입니다.".format(n, index))

[1, 2, 3, 4, 5]
a의 요소를 하나 선택하시오 : 삼
오류 : 입력 값이 정수나 실수가 아님

In [41]:
raise Exception('Exception raised')

Exception: ignored

In [42]:
raise Exception('예외 발생!')

Exception: ignored

In [44]:
def get_ans(ans):
    if ans in ['예','아니오']:
        print("정상적인 입력입니다.")
    else:
        raise ValueError('입력을 확인하세요')
while True:
    try:
        ans = input('예/아니오 중 하나를 입력하세요 : ')
        get_ans(ans)
        break;
    except Exception as e:
        print("error :", e)

예/아니오 중 하나를 입력하세요 : 아뇨
error : 입력을 확인하세요
예/아니오 중 하나를 입력하세요 : 네
error : 입력을 확인하세요
예/아니오 중 하나를 입력하세요 : 예
정상적인 입력입니다.

In [46]:
animals = ['lion', 'tiger','cat','dog']
animals.sort()
print(animals)
animals.append('rabbit')
print(animals)
animals.reverse()
print(animals)

['cat', 'dog', 'lion', 'tiger']
['cat', 'dog', 'lion', 'tiger', 'rabbit']
['rabbit', 'tiger', 'lion', 'dog', 'cat']

In [47]:
s = animals.pop()
print(s)
print(s.upper())
print(s.find('a'))

cat
CAT
1

In [48]:
animals = ['lion', 'tiger','cat','dog']
print(type(animals))
print(id(animals))
s = 'tiger'
print(type(s))
print(id(s))

<class 'list'>
139631344077576
<class 'str'>
139631344438216

In [49]:
n = 200
print(type(n))
print(id(n))
print(n+100)
print(n.__add__(100))
print(200+100)
print( (200).__add__(100) )

<class 'int'>
10920864
300
300
300
300

In [50]:
#LAB 9-1-1 : 객체와 메소드 호출
print( (200).__sub__(100) )
print( (200).__mul__(100) )
print( (200).__truediv__(100) )

100
20000
2.0

In [51]:
#LAB 9-1-2
print([10,20,30,40].pop())

40

In [54]:
#LAB 9-1-3
print(dir(list))
print("keys()와 get()을 호출할 수 없음")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
keys()와 get()을 호출할 수 없음

In [55]:
#LAB 9-1-4
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [57]:
#LAB 9-1-5
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
class Cat:
    pass
nabi = Cat()
print(nabi)

<__main__.Cat object at 0x7efe74af41d0>

In [59]:
class Cat:
    def meow(self):
        print("야옹 야옹~~~")
nabi = Cat()
nabi.meow()

야옹 야옹~~~

In [60]:
class Cat:
    def meow(self):
        print("야옹 야옹~~~")
nabi = Cat()
nabi.meow()
nero = Cat()
nero.meow()
mimi = Cat()
mimi.meow()

야옹 야옹~~~
야옹 야옹~~~
야옹 야옹~~~

In [62]:
#LAB 9-4 : Dog 클래스와 인스턴스 생성
class Dog:
    def bark(self):
        print("멍멍~~")
my_dog = Dog()
my_dog.bark()

멍멍~~

In [63]:
class Cat:
    def __init__(self, name, color = '흰색'):
        self.name = name
        self.color = color
    def meow(self):
        print("내 이름은 {}, 색깔은 {}, 야옹 야옹~~".format(self.name, self.color))
nabi = Cat('나비', '검정색')
nero = Cat('네로')
mimi = Cat('미미','갈색')

nabi.meow()
nero.meow()
mimi.meow()

내 이름은 나비, 색깔은 검정색, 야옹 야옹~~
내 이름은 네로, 색깔은 흰색, 야옹 야옹~~
내 이름은 미미, 색깔은 갈색, 야옹 야옹~~

In [64]:
#LAB 9-5 : Dog 클래스와 인스턴스 생성
class Dog:
    def __init__(self, name):
        self.name = name
    def bark(self):
        print("멍멍~~")
my_dog = Dog('Jindo')
my_dog.bark()

멍멍~~

In [65]:
class Cat:
    def __init__(self, name, color = '흰색'):
        self.name = name
        self.color = color
    def __str__(self):
        return 'Cat(name = '+self.name+', color = '+self.color+')'
nabi = Cat('나비', '검정색')
nero = Cat('네로','흰색')
print(nabi)
print(nero)

Cat(name = 나비, color = 검정색)
Cat(name = 네로, color = 흰색)

In [66]:
print('nabi의 정보 :', nabi)

nabi의 정보 : Cat(name = 나비, color = 검정색)

In [68]:
class Dog:
    def __init__(self, name):
        self.name = name
    def __str__(self):
        return 'Dog(name = '+self.name+')'
my_dog = Dog('Jindo')
print("my_dog의 정보 :", my_dog)

my_dog의 정보 : Dog(name = Jindo)

In [71]:
class Cat:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age
    def __str__(self):
        return 'Cat(name = '+self.__name+', age = '+str(self.__age)+')'
    def set_age(self, age):
        if age > 0:
            self.__age = age
    def get_age(self):
        return self.__age
nabi = Cat('나비', 3)
print(nabi)
nabi.set_age(4)
nabi.set_age(-5)
print(nabi)

Cat(name = 나비, age = 3)
Cat(name = 나비, age = 4)

In [75]:
list_a = [10,20,30]
list_b = [10,20,30]
if list_a is list_b:
    print("list_a is list_b")
else:
    print("list_a is not list_b")
    
print('list_a == list_b' if list_a==list_b else 'list_a != list_b')

list_a is not list_b
list_a == list_b

In [76]:
a = 'ABC'
b = 'ABC'
print('a is b' if a is b else 'a is not b')

a is b

In [77]:
#LAB 9-7 : 정수 객체의 is 연산
n = 100
m = 100
print('n is m' if n is m else 'n is not m')

n is m

In [78]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1+v2
print('v1 + v2 =', v3)

TypeError: ignored

In [79]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __str__(self):
        return '({}, {})'.format(self.x, self.y)
    def add(self, other):
        return Vector2D(self.x + other.x, self.y + other.y)
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1.add(v2)
print('v1.add(v2) =', v3)

v1.add(v2) = (40, 60)

In [80]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __str__(self):
        return '({}, {})'.format(self.x, self.y)
    def __add__(self, other):
        return Vector2D(self.x + other.x, self.y + other.y)
    def __sub__(self, other):
        return Vector2D(self.x - other.x, self.y - other.y)
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
v3 = v1+v2
print('v1 + v2 =', v3)
v4 = v1-v2
print('v1 - v2 =', v4)

v1 + v2 = (40, 60)
v1 - v2 = (20, 20)

In [81]:
#LAB 9-8 : 특수 메소드의 응용
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __str__(self):
        return '({}, {})'.format(self.x, self.y)
    def __add__(self, other):
        return Vector2D(self.x + other.x, self.y + other.y)
    def __sub__(self, other):
        return Vector2D(self.x - other.x, self.y - other.y)
    def __mul__(self, other):
        return Vector2D(self.x * other.x, self.y * other.y)
    def __truediv__(self, other):
        return Vector2D(self.x / other.x, self.y / other.y)
    def __neg__(self):
        return Vector2D(-self.x, -self.y)
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
print('v1 * v2 =', v1*v2)
print('v1 / v2 =', v1/v2)
print('-v1 =', -v1)

v1 * v2 = (300, 800)
v1 / v2 = (3.0, 2.0)
-v1 = (-30, -40)

In [106]:
#LAB 9-9 : 벡터의 크기 비교하기
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __abs__(self):
        return (self.x**2 + self.y**2)**0.5
    def __str__(self):
        return '({}, {})'.format(self.x, self.y)
    def __lt__(self, other):
        return True if abs(self)<abs(other) else False
    def __le__(self, other):
        return True if abs(self)<=abs(other) else False
    def __ge__(self, other):
        return True if abs(self)>=abs(other) else False
    def __gt__(self, other):
        return True if abs(self)>abs(other) else False
v1 = Vector2D(30,40)
v2 = Vector2D(10,20)
print('v1 > v2 =', v1>v2)
print('v1 >= v2 =', v1>=v2)
print('v1 < v2 =', v1<v2)
print('v1 <= v2 =', v1<=v2)

v1 > v2 = True
v1 >= v2 = True
v1 < v2 = False
v1 <= v2 = False

In [107]:
class Circle:
    def __init__(self, name, radius, PI):
        self.__name = name
        self.__radius = radius
        self.__PI = PI
    def area(self):
        return self.__PI * self.__radius**2
c1 = Circle('C1', 4, 3.14)
c2 = Circle('C2', 6, 3.141)
c3 = Circle('C3', 5, 3.1415)
print('c1의 면적:', c1.area())
print('c2의 면적:', c2.area())
print('c3의 면적:', c3.area())

c1의 면적: 50.24
c2의 면적: 113.076
c3의 면적: 78.53750000000001

In [110]:
class Circle:
    PI = 3.141592
    def __init__(self, name, radius):
        self.__name = name
        self.__radius = radius
    def area(self):
        return Circle.PI * self.__radius**2
c1 = Circle('C1', 4)
c2 = Circle('C2', 6)
c3 = Circle('C3', 5)
print('c1의 면적:', c1.area())
print('c2의 면적:', c2.area())
print('c3의 면적:', c3.area())

c1의 면적: 50.265472
c2의 면적: 113.097312
c3의 면적: 78.5398

In [111]:
class Circle:
    PI = 3.14
    def __init__(self, name, radius):
        self.name = name
        self.radius = radius

c1 = Circle('C1', 4)
print('c1의 속성들 :', c1.__dict__)
print('c1의 name 변수 값:', c1.__dict__['name'])
print('c1의 radius 변수 값:', c1.__dict__['radius'])

c1의 속성들 : {'name': 'C1', 'radius': 4}
c1의 name 변수 값: C1
c1의 radius 변수 값: 4

In [112]:
class Circle:
    PI = 3.14
    def __init__(self, name, radius):
        self.__name = name
        self.__radius = radius

c1 = Circle('C1', 4)
print('c1의 속성들 :', c1.__dict__)
print('c1의 __name 변수 값:', c1.__dict__['_Circle__name'])
print('c1의 __radius 변수 값:', c1.__dict__['_Circle__radius'])

c1의 속성들 : {'_Circle__name': 'C1', '_Circle__radius': 4}
c1의 __name 변수 값: C1
c1의 __radius 변수 값: 4

In [115]:
class Circle:
    PI = 3.14
    def __init__(self, name, radius):
        self._name = name
        self._radius = radius

c1 = Circle('C1', 4)
print('c1의 속성들 :', c1.__dict__)
print('c1의 __name 변수 값:', c1.__dict__['_name'])
print('c1의 __radius 변수 값:', c1.__dict__['_radius'])

c1의 속성들 : {'_name': 'C1', '_radius': 4}
c1의 __name 변수 값: C1
c1의 __radius 변수 값: 4

In [116]:
#LAB 9-10-1 : __dict__를 이용한 인스턴스변수의 조회
class Rect:
    def __init__(self, width, height):
        self.width = width
        self.height = height
r1 = Rect(100,200)
print(r1.__dict__)
print(r1.__dict__['width'])

{'width': 100, 'height': 200}
100

In [117]:
#LAB 9-10-2
class Rect:
    def __init__(self, width, height):
        self.__width = width
        self.__height = height
r1 = Rect(100,200)
print(r1.__dict__)
print(r1.__dict__['_Rect__width'])

{'_Rect__width': 100, '_Rect__height': 200}
100

In [119]:
n=100
m=n
print(id(100))
print(id(n))
print(id(m))

10917664
10917664
10917664

In [120]:
n=100
m=n
n=200
print(id(n))
print(id(m))

10920864
10917664

In [121]:
n=100
print(id(n))
n +=1
print(id(n))

10917664
10917696

In [122]:
#LAB 9-11 : 객체와 메소드 호출
a = 100
b = a
print( id(a)==id(100) )
print( id(b)==id(100) )
print( id(a)==id(b) )
a = 200
print( id(a)==id(200) )
print( id(b)==id(200) )
print( id(a)==id(b) )

True
True
True
True
False
False