<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week10/HW5_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#5.1, 5.2, 5.6, 5.14, 5.16 제외 전체

In [ ]:
#5.3
list1 = [3,5,7]
list2 = [2,3,4,5,6]
for i in list1:
    for j in list2:
        print("{} * {} = {}".format(i,j,i*j))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [ ]:
#5.4
a = [2,3,4,5,6]
rev_a =[]
for _ in range(len(a)):
    rev_a.append(a.pop())
print(rev_a)

[6, 5, 4, 3, 2]

In [ ]:
#5.5
list1 = ['I like', 'I love']
list2 = ['fan cake.', 'kiwi juice.', 'espresso.']
for i in list1:
    for j in list2:
        print(i+" "+j)

I like fan cake.
I like kiwi juice.
I like espresso.
I love fan cake.
I love kiwi juice.
I love espresso.

In [ ]:
#5.7
n_list = [10,20,30,50,60]
total = 0
for i in n_list:
    total += i
print("리스트 원소들 :",n_list)
print("리스트 원소들의 합 :",total)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합 : 170

In [ ]:
#5.8
n_list = [10,20,30,50,60]
total = 1
for i in n_list:
    total *= i
print("리스트 원소들 :",n_list)
print("리스트 원소들의 곱 :",total)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 18000000

In [ ]:
#5.9
n_list = [10,20,30,50,60]
max = n_list[0]
for i in n_list:
    if max < i:
        max = i
print("리스트 원소들 :",n_list)
print("리스트 원소들의 곱 :",max)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 60

In [ ]:
#5.10
n_list = [10,20,30,50,60]
min = n_list[0]
for i in n_list:
    if min > i:
        min = i
print("리스트 원소들 :",n_list)
print("리스트 원소들의 곱 :",min)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 곱 : 10

In [ ]:
#5.11
n_list = list(map(int, input("5개의 수를 입력하세요 : ").split()))
print("합 : %d"%sum(n_list))
print("평균 : %f"%(sum(n_list)/len(n_list)))
print("최댓값 : %d"%max(n_list))
print("최솟값 : %d"%min(n_list))

5개의 수를 입력하세요 : 45 67 20 34 2
합 : 168
평균 : 33.600000
최댓값 : 67
최솟값 : 2

In [ ]:
#5.12
n = int(input("n을 입력하세요 : "))
n_list = list(map(int,input("%d개의 수를 입력하세요(넘치면 잘림) : "%n).split()))
del n_list[n:]
print("합 : %d"%sum(n_list))
print("평균 : %f"%(sum(n_list)/len(n_list)))
print("최댓값 : %d"%max(n_list))
print("최솟값 : %d"%min(n_list))

n을 입력하세요 : 10
10개의 수를 입력하세요(넘치면 잘림) : 34 56 7 9 23 10 2 30 3 28
합 : 202
평균 : 20.200000
최댓값 : 56
최솟값 : 2

In [ ]:
#5.13
n = int(input("n을 입력하세요 : "))
n_list = list(map(int,input("%d개의 수를 입력하세요(넘치면 잘림) : "%n).split()))
del n_list[n:]

print("합 : %d"%sum(n_list))
print("평균 : %f"%(sum(n_list)/len(n_list)))

devs = 0
for i in range(0,n):
    devs += (n_list[i]-( sum(n_list)/n ))**2
st_dev = (devs/n)**0.5
print("표준편차 : %f"%st_dev)

n을 입력하세요 : 10
10개의 수를 입력하세요(넘치면 잘림) : 45 67 20 34 2 100 23 45 67 89
합 : 492
평균 : 49.200000
표준편차 : 29.718008

In [ ]:
#5.15
greet = 'Have a beautiful day.'
print(greet[0:4])
print(greet[7:16])
print(greet[17:20])

Have
beautiful
day

In [ ]:
#5.17(1)
animals = ['dog','cat','tiger','lion']
print("animals =", animals)

animals = ['dog', 'cat', 'tiger', 'lion']

In [ ]:
#5.17(2)
animals.append(animals.pop(0))
print("animals =", animals)

animals = ['cat', 'tiger', 'lion', 'dog']

In [ ]:
#5.17(3)
animals = ['dog','cat','tiger','lion']
for i in animals:
    print("I love %s"%i)

I love dog
I love cat
I love tiger
I love lion

In [ ]:
#5.18(1)
s_list = ['abc','bcd','bcdefg','abba','cddc','opq']
shortest = s_list[0]
for i in range(len(s_list)):
    if len(s_list[i]) < len(shortest):
        shortest = s_list[i]
print("가장 길이가 짧은 문자열 : %s"%shortest)

가장 길이가 짧은 문자열 : abc

In [ ]:
#5.18(2)
s_list = ['abc','bcd','bcdefg','abba','cddc','opq']
longest = s_list[0]
for i in range(len(s_list)):
    if len(s_list[i]) > len(longest):
        longest = s_list[i]
print("가장 길이가 긴 문자열 : %s"%longest)

가장 길이가 긴 문자열 : bcdefg

In [ ]:
#5.18(3)
s_list = ['abc','bcd','bcdefg','abba','cddc','opq']
s_list.sort(key = len)
s_length = len(s_list[0])
print("가장 길이가 짧은 문자열 : ", end="")
for i in range(len(s_list)):
    if s_length < len(s_list[i]):
        print('\b\b')
        break
    print("'%s', "%s_list[i], end='')

가장 길이가 짧은 문자열 : 'abc', 'bcd', 'opq', 

In [ ]:
#5.19
s_list = ['abc','bcd','abc','abba','cddc','opq','opq']
new_s_list = []
for i in range(len(s_list)):
    if s_list[i] not in new_s_list:
        new_s_list.append(s_list[i])
print("s_list =", s_list)
print("new_s_list =", new_s_list)

s_list = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
new_s_list = ['abc', 'bcd', 'abba', 'cddc', 'opq']

In [ ]:
#5.20
def zip_(string): #zip이라는 내장함수가 있어 zip_으로 지정
    newstring = ''
    if string != '':
        temp = string[0]
        count=0
        for i in range(len(string)):
            if temp != string[i]:
                newstring += temp + str(count)
                temp = string[i]
                count = 1
            else:
                count += 1
        newstring += temp + str(count)
    print("src = '%s'"%string)
    print("output = '%s'"%newstring)

zip_('aaaabbb')
zip_('aaaabccccaaaaacccfg')
zip_('')
zip_('a')

src = 'aaaabbb'
output = 'a4b3'
src = 'aaaabccccaaaaacccfg'
output = 'a4b1c4a5c3f1g1'
src = ''
output = ''
src = 'a'
output = 'a1'

In [ ]:
#5.21
def unzip(string):
    index = 0
    newstring = ''
    length = len(string)
    while True:
        if index == length:
            break
        for i in range(int(string[index+1])):
            newstring += string[index]
        index += 2
    print("src = '%s'"%string)
    print("output = '%s'"%newstring)

unzip('a2b3c6a2c3f1g1')

src = 'a2b3c6a2c3f1g1'
output = 'aabbbccccccaacccfg'

In [ ]:
#5.22
n = int(input("n을 입력하시오 : "))
n_list = list(range(1,n**2+1))
line = []
for i in range(n):
    if i%2 == 0:
        line = n_list[ i*n : i*n+n ]
    else:
        line = n_list[ i*n+(n-1) : i*n-1 : -1 ]
    for j in line:
        print("{:2d}".format(j), end=' ')
    print("")

n을 입력하시오 : 6
 1  2  3  4  5  6
12 11 10  9  8  7
13 14 15 16 17 18
24 23 22 21 20 19
25 26 27 28 29 30
36 35 34 33 32 31

In [ ]:
#5.23 (1)
def how_many_persons(getlist):
    cnt = 0
    for i in getlist:
        if type(i) == type(""):
            cnt += 1
    return cnt

person1 = ['온달', 20, 1, 180.0, 100.0]
person2 = ['이사부', 25, 1, 170.0, 7.0]
person3 = ['평강', 22, 0, 169.0, 60.0]
person4 = ['혁거세', 40, 1, 150.0, 50.0]

person_list = person1 + person3 + person4
n_persons = how_many_persons(person_list)
print(str(n_persons) + '명의 정보가 담겨 있습니다.')

3명의 정보가 담겨 있습니다.

In [ ]:
#5.23 (2)
def compute_average_age(person_list):
    ages = []
    for i in range(0,len(person_list),5):
        ages.append(person_list[i+1])
    return ( sum(ages)/len(ages) )

person_list = person1 + person2 + person3 + person4
average_age = compute_average_age(person_list)
print("평균 나이는 " + str(average_age) + "세입니다.")

평균 나이는 26.75세입니다.

In [ ]:
#5.23 (3)
def count_males_females(person_list):
    males, females = 0, 0
    for i in range(0,len(person_list),5):
        if person_list[i+2] == 1:
            males += 1
        else:
            females += 1
    return males, females

person_list = person1 + person2 + person3 + person4
n_male, n_female = count_males_females(person_list)
print("리스트에는 남자가", n_male, "명, 여자가", n_female, "명입니다.")

리스트에는 남자가 3 명, 여자가 1 명입니다.

In [ ]:
#5.23 (3)
def display_persons(person_list):
    for i in range(0, len(person_list), 5):
        print(person_list[i:i+5])
    
person_list = person1 + person2 + person3 + person4
display_persons(person_list)

['온달', 20, 1, 180.0, 100.0]
['이사부', 25, 1, 170.0, 7.0]
['평강', 22, 0, 169.0, 60.0]
['혁거세', 40, 1, 150.0, 50.0]

In [ ]:
#5.24
for i in range (1, 10001):
    measure = []
    for j in range(1, int(i/2)+1):       #i/2보다 큰 i의 약수는 없음
        if i%j == 0:
            measure.append(j)
    if sum(measure) == i:
        print("%d은(는) 완전수입니다."%i)
        print("{}의 약수 : {}, 약수의 합 = {}".format(i, measure, sum(measure)))

6은(는) 완전수입니다.
6의 약수 : [1, 2, 3], 약수의 합 = 6
28은(는) 완전수입니다.
28의 약수 : [1, 2, 4, 7, 14], 약수의 합 = 28
496은(는) 완전수입니다.
496의 약수 : [1, 2, 4, 8, 16, 31, 62, 124, 248], 약수의 합 = 496
8128은(는) 완전수입니다.
8128의 약수 : [1, 2, 4, 8, 16, 32, 64, 127, 254, 508, 1016, 2032, 4064], 약수의 합 = 8128