<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week8/HW4_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#4.1 함수명은 문제를 따름
def greet():
    print("환영합니다.")

greet()
greet()

환영합니다.
환영합니다.

In [ ]:
#4.2
def square(n):
    return n*n
print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

In [ ]:
#4.3
def max2(m,n):
    if m>n:
        return m
    else:
        return n
def min2(m,n):
    if m>n:
        return n
    else:
        return m
print('100과 200중 큰 수는 :', max2(100,200))
print('100과 200중 작은 수는 :', min2(100,200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [ ]:
#4.4
def mile2km(m):
    return m*1.61
for i in range(1,6):
    print('{} mile = {} km'.format(i,mile2km(i)))

1 mile = 1.61 km
2 mile = 3.22 km
3 mile = 4.83 km
4 mile = 6.44 km
5 mile = 8.05 km

In [ ]:
#4.5
def inch2cm(inch):
    return inch*2.54
for i in range(1,6):
    print('{} inch = {} cm'.format(i,inch2cm(i)))

1 inch = 2.54 cm
2 inch = 5.08 cm
3 inch = 7.62 cm
4 inch = 10.16 cm
5 inch = 12.7 cm

In [ ]:
#4.6
def cel2fah(cel):
    return cel*(9/5)+32
for i in range(10,51,10):
    print('섭씨 {} 도 = 화씨 {} 도'.format(i,cel2fah(i)))

섭씨 10 도 = 화씨 50.0 도
섭씨 20 도 = 화씨 68.0 도
섭씨 30 도 = 화씨 86.0 도
섭씨 40 도 = 화씨 104.0 도
섭씨 50 도 = 화씨 122.0 도

In [ ]:
#4.7
a,b,c = map(int, input("세 수를 입력하시오 :").split())
def mean3(a,b,c):
    return (a+b+c)/3
def max3(a,b,c):
    return max(a,b,c)
def min3(a,b,c):
    return min(a,b,c)

print('{}, {}, {}의 평균값은 {}'.format(a,b,c, mean3(a,b,c)))
print('{}, {}, {}의 최댓값은 {}'.format(a,b,c, max3(a,b,c)))
print('{}, {}, {}의 최솟값은 {}'.format(a,b,c, min3(a,b,c)))

세 수를 입력하시오 :10 20 30
10, 20, 30의 평균값은 20.0
10, 20, 30의 최댓값은 30
10, 20, 30의 최솟값은 10

In [ ]:
#4.8 (문제대로 #4.7의 함수를 호출하여 구현)
a,b,c,d,e,f = map(int, input("여섯 개의 수를 입력하시오 :").split())
def mean6(a,b,c,d,e,f):
    return (mean3(a,b,c)+mean3(d,e,f))/2
def max6(a,b,c,d,e,f):
    return max3(a,b,c) if max3(a,b,c)>max3(d,e,f) else max3(d,e,f)
def min6(a,b,c,d,e,f):
    return min3(a,b,c) if min3(a,b,c)<min3(d,e,f) else min3(d,e,f)

print('평균값은', mean6(a,b,c,d,e,f))
print('최댓값은', max6(a,b,c,d,e,f))
print('최솟값은', min6(a,b,c,d,e,f))

여섯 개의 수를 입력하시오 :100 20 30 45 260 370
평균값은 137.5
최댓값은 370
최솟값은 20

In [ ]:
#4.9
nums = list(map(int, input("여섯 개의 수를 입력하시오 :").split()))
def mean_of_n(nums):
    total = 0;
    for i in nums:
        total += i
    return total/len(nums)
def max_of_n(nums):
    return max(nums)
def min_of_n(nums):
    return min(nums)

print('평균값은', mean_of_n(nums))
print('최댓값은', max_of_n(nums))
print('최솟값은', min_of_n(nums))

여섯 개의 수를 입력하시오 :3 45 32 5 7 8 4 44 5 90 17
평균값은 23.636363636363637
최댓값은 90
최솟값은 3

In [ ]:
#4.10
x1 = int(input('x1 좌표를 입력하시오 : '))
y1 = int(input('y1 좌표를 입력하시오 : '))
x2 = int(input('x2 좌표를 입력하시오 : '))
y2 = int(input('y2 좌표를 입력하시오 : '))
def distance(x1, y1, x2, y2):
    return (abs(x1-x2)**2 + abs(y1-y2)**2)**0.5

print("두 점의 거리:", distance(x1, y1, x2, y2))

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
두 점의 거리: 5.0

In [ ]:
#4.11
x1 = int(input('x1 좌표를 입력하시오 : '))
y1 = int(input('y1 좌표를 입력하시오 : '))
x2 = int(input('x2 좌표를 입력하시오 : '))
y2 = int(input('y2 좌표를 입력하시오 : '))
def area(x1, y1, x2, y2):
    return (abs(x1-x2)*abs(y1-y2))*0.5
    
print('직각삼각형의 면적은:', area(x1, y1, x2, y2))

x1 좌표를 입력하시오 : 0
y1 좌표를 입력하시오 : 0
x2 좌표를 입력하시오 : 3
y2 좌표를 입력하시오 : 4
직각삼각형의 면적은: 6.0

In [ ]:
#4.12
w = int(input('밑변을 입력하시오:'))
h = int(input('높이를 입력하시오:'))
def cal_area(w, h):
    return w*h/2
print('삼각형의 면적 :', cal_area(w,h))

밑변을 입력하시오:20
높이를 입력하시오:15
삼각형의 면적 : 150.0

In [ ]:
#4.13
PI = 3.14
def cube(s):
    return s**3
def cuboid(w,h,l):
    return w*h*l
def cone(r, h):
    return PI*(r**2)*h*(1/3)
def sphere(r):
    return (4/3)*PI*r**3
def cylinder(r,h):
    return PI*(r**2)*h

print("모서리의 길이가 {}인 정육면체의 부피 : {}".format(12, cube(12)))
print("모서리의 길이가 {}인 정육면체의 부피 : {}".format(20, cube(20)))
print("가로, 세로, 높이의 길이가 각각 {}, {}, {}인 직육면체의 부피 : {}".format(3,5,6,cuboid(3,5,6)))
print("반지름과 높이가 각각 {}, {}인 원뿔의 부피 : {}".format(20, 10, cone(20,10)))
print("반지름이 {}인 구의 부피 : {}".format(15, sphere(15)))
print("반지름과 높이가 각각 {}, {}인 원기둥의 부피 : {}".format(20, 10, cylinder(20,10)))

모서리의 길이가 12인 정육면체의 부피 : 1728
모서리의 길이가 20인 정육면체의 부피 : 8000
가로, 세로, 높이의 길이가 각각 3, 5, 6인 직육면체의 부피 : 90
반지름과 높이가 각각 20, 10인 원뿔의 부피 : 4186.666666666666
반지름이 15인 구의 부피 : 14130.0
반지름과 높이가 각각 20, 10인 원기둥의 부피 : 12560.0

In [ ]:
#4.14
n1,n2,n3 = map(int, input('세 수를 입력하세요 : ').split())
def sort3(num1, num2, num3):
    a = []
    a.append(num1)
    a.append(num2)
    a.append(num3)
    a.sort()
    return a
a=sort3(n1,n2,n3)
print('정렬된 리스트는 다음과 같습니다: ',a[0],a[1],a[2])

세 수를 입력하세요 : 3 2 5
정렬된 리스트는 다음과 같습니다:  2 3 5

In [ ]:
#4.15
def my_sort(*nums):
    nums = list(nums)
    nums.sort()
    return nums
print("my_sort(45, 3, 4, 56, 5) 호출시 \n결과 :", my_sort(45, 3, 4, 56, 5))
print("my_sort(9, 8, 7, 6, 5, 4, 3) 호출시 \n결과 :", my_sort(9, 8, 7, 6, 5, 4, 3))

my_sort(45, 3, 4, 56, 5) 호출시
결과 : [3, 4, 5, 45, 56]
my_sort(9, 8, 7, 6, 5, 4, 3) 호출시
결과 : [3, 4, 5, 6, 7, 8, 9]

In [ ]:
#4.16
nums = list(map(int,input("쉼표로 구분된 정수를 여러 개 입력하시오 :").split(',')))
print("입력된 정수의 리스트:", nums)
nums.sort()
print("정렬된 정수의 리스트:", *nums)

쉼표로 구분된 정수를 여러 개 입력하시오 :56,67,89,34,24,300,99
입력된 정수의 리스트: [56, 67, 89, 34, 24, 300, 99]
정렬된 정수의 리스트: 24 34 56 67 89 99 300

In [ ]:
#4.17
def sum_range(n1, n2):
    total = 0
    for i in range(n1, n2+1):
        total += i
    return total
print("{:2d}에서 {:3d}까지의 정수의 합 : {:4d}".format(10, 20, sum_range(10, 20)))
print("{:2d}에서 {:3d}까지의 정수의 합 : {:4d}".format(40, 100, sum_range(40, 100)))

10에서  20까지의 정수의 합 :  165
40에서 100까지의 정수의 합 : 4270

In [ ]:
#4.18 (문제에 함수 정의 내용이 없어 일반 문제처럼 풀이)
a = int(input("범위의 시작 정수 : "))
b = int(input("범위의 마지막 정수 : "))
n=b
while True:
    cnt = 0
    for i in range(a, b+1):
        if n%i == 0:
            cnt +=1
    if cnt == (b-a+1):
        break;
    n += 1
print("{}에서 {}까지의 정수들의 최소 공배수는 : {}".format(a, b, n))

범위의 시작 정수 : 3
범위의 마지막 정수 : 5
3에서 5까지의 정수들의 최소 공배수는 : 60

In [ ]:
#4.19
n = int(input("fibo(n)의 n을 입력하세요: "))
def fibo(n):
    if n==0 or n==1:
        return 1
    return fibo(n-1)+fibo(n-2)
print("fibo({}) = {}".format(n, fibo(n)))

fibo(n)의 n을 입력하세요: 4
fibo(4) = 5

In [ ]:
#4.20
def fibo(n):
    if n==0 or n==1:
        return 1
    return fibo(n-1)+fibo(n-2)

for i in range(0,16):
    print("fibo({:3d}) = {:6d}".format(i, fibo(i)))

fibo(  0) =      1
fibo(  1) =      1
fibo(  2) =      2
fibo(  3) =      3
fibo(  4) =      5
fibo(  5) =      8
fibo(  6) =     13
fibo(  7) =     21
fibo(  8) =     34
fibo(  9) =     55
fibo( 10) =     89
fibo( 11) =    144
fibo( 12) =    233
fibo( 13) =    377
fibo( 14) =    610
fibo( 15) =    987

In [ ]:
#4.21
a = input("주민등록번호 첫 6숫자 형식 입력: ")
if int(a[:2]) > 50:
    print("{}년 {}월 {}일".format('19'+a[:2], a[2:4], a[4:]))
else:
    print("{}년 {}월 {}일".format('20'+a[:2], a[2:4], a[4:]))

주민등록번호 첫 6숫자 형식 입력: 011123
2001년 11월 23일

In [ ]:
#4.22
import datetime
y,m,d = date.year, date.month, date.day
print("현재 시간은 {}년 {:02d}월 {:02d}일 입니다.".format(y,m,d))
print("지금 태어난 아이의 주민등록번호 앞자리는 : {}{:02d}{:02d}".format(str(y)[2:], m, d))

현재 시간은 2020년 11월 03일 입니다.
지금 태어난 아이의 주민등록번호 앞자리는 : 201103

In [ ]:
#4.23
import math
pi = math.pi
def area_and_circumference(r):
    print("넓이 : {:7.3f}, 둘레 : {:7.3f}".format(pi*r**2, 2*pi*r))
while True:
    n = int(input("반지름을 입력하시오 : "))
    if n<0:
        print("프로그램을 종료합니다.")
        break
    area_and_circumference(n)

반지름을 입력하시오 : 6
넓이 : 113.097, 둘레 :  37.699
반지름을 입력하시오 : 22
넓이 : 1520.531, 둘레 : 138.230
반지름을 입력하시오 : 4
넓이 :  50.265, 둘레 :  25.133
반지름을 입력하시오 : -1
프로그램을 종료합니다.

In [ ]:
#4.24 (입력 예시: "임의의 문장을 입력:출력, 이것은 테스트 문장.가:가나:나:나나:다람쥐 : 마린보이." )
text = input("여러 단어로 이루어진 글을 입력하세요: ")
words = []
lastindex = -1
for i in range(0, len(text)):
    if (text[i] in (" ", ",", ".", ":", ";")):
        words.append(text[lastindex+1:i])
        lastindex = i
words = list(filter(None, words))
words.sort()
print("정렬 결과 :", words)

여러 단어로 이루어진 글을 입력하세요: 임의의 문장을 입력:출력, 이것은 테스트 문장.가:가나:나:나나:다람쥐 : 마린보이.
정렬 결과 : ['가', '가나', '나', '나나', '다람쥐', '마린보이', '문장', '문장을', '이것은', '임의의', '입력', '출력', '테스트']

In [ ]:
#4.25
s1 = 'Kang Young Min'
s2 = ' Kang Young-Min'
s3 = 'Park Dong Min'
s4 = ' Park Dong-Yun'
t1=(s1.replace(" ",'')).upper()
t2=((s2.replace(" ",'')).replace("-","")).upper()
t3=(s3.replace(" ",'')).upper()
t4=((s4.replace(" ",'')).replace("-","")).upper()
print("{}(은)는 {}(으)로 수정됨".format(s1, t1))
print("{}(은)는 {}(으)로 수정됨".format(s2, t2))
print("{}(은)는 {}(으)로 수정됨".format(s3, t3))
print("{}(은)는 {}(으)로 수정됨".format(s4, t4))
print("{} : {}개의 N이 나타남".format(t1, t1.count("N")))
print("{} : {}개의 N이 나타남".format(t2, t2.count("N")))
print("{} : {}개의 N이 나타남".format(t3, t3.count("N")))
print("{} : {}개의 N이 나타남".format(t4, t4.count("N")))

Kang Young Min(은)는 KANGYOUNGMIN(으)로 수정됨
 Kang Young-Min(은)는 KANGYOUNGMIN(으)로 수정됨
Park Dong Min(은)는 PARKDONGMIN(으)로 수정됨
 Park Dong-Yun(은)는 PARKDONGYUN(으)로 수정됨
KANGYOUNGMIN : 3개의 N이 나타남
KANGYOUNGMIN : 3개의 N이 나타남
PARKDONGMIN : 2개의 N이 나타남
PARKDONGYUN : 2개의 N이 나타남

In [ ]:
#4.26
text = "Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)"
newtext= text.replace("Bython",'Python')

print("주어진 문자열 : \n%s\n"%text)
print("수정된 문자열 : \n%s"%newtext)
print("Bython 문자열은 모두 %d번 수정했습니다."%text.count("Bython"))

주어진 문자열 :
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 :
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.

In [4]:
#4.27 (두번째 입력값: 0.00000000000000000000000000000000000000000003423423)
a = float(input("1보다 작고 0보다 큰 소수를 입력하세요: "))
def unit_fraction(frac):
    n1 = int(1/frac)        #1/5 < 0.27 < 1/4 의 역수는
    n2 = int(1/frac+1)      # 5 > 1/0.27 > 4 임을 활용
    if abs(1/n1 - frac) < abs(1/n2-frac):
        return n1
    else:
        return n2
print("가장 가까운 단위 분수는 1/{}이며, 이 값은 {}입니다.".format(unit_fraction(a), 1/unit_fraction(a)))

1보다 작고 0보다 큰 소수를 입력하세요: 0.00000000000000000000000000000000000000000003423423
가장 가까운 단위 분수는 1/29210529928670802965804389820847695375368192이며, 이 값은 3.4234230000000007e-44입니다.

In [ ]:
#4.28
def factorial(k):
    if k==0:
        return 1
    else:
        return k*factorial(k-1)
def euler(n):
    total = 0
    for i in range(n+1):
        total += 1/factorial(i)
    return total

print("euler({:2d}) = {:.5f}".format(5, euler(5)))
print("euler({:2d}) = {:.5f}".format(20, euler(20)))

euler( 5) = 2.71667
euler(20) = 2.71828