<a href="https://colab.research.google.com/github/hojin3777/Freshman2stProgramming/blob/master/week8/Lab4_20201582_HojinKim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def print_star():
    print('*************')
print_star()

def print_star3():
    print('********!!!!******')
    print('********!!!!******')
    print('********!!!!******')
print_star3()

*************
********!!!!******
********!!!!******
********!!!!******

In [ ]:
print_star()
print_star()
print_star()
print_star()
print_star()

********!!!!******
********!!!!******
********!!!!******
********!!!!******
********!!!!******

In [ ]:
#Lab 4-2 : 함수 정의와 호출
def print_star5():
    print('**************')
    print('**************')
    print('**************')
    print('**************')
    print('**************')
print_star5()
print_star5()

**************
**************
**************
**************
**************
**************
**************
**************
**************
**************

In [ ]:
def print_plus():
    print('++++++++++++++')
print_star()
print_plus()

********!!!!******
++++++++++++++

In [ ]:
#Lab 4-3 : 함수 정의와 호출
def print_star():
    print('**************')
def print_plus():
    print('++++++++++++++')
def print_hash():
    print('##############')
print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

##############
**************
++++++++++++++
++++++++++++++
**************
##############

In [ ]:
#별표 출력을 매개변수 n번만큼 반복하는 프로그램
def print_star(n):
    for i in range(n):
        print(i, "*"*20)
print_star(6)

0 ********************
1 ********************
2 ********************
3 ********************
4 ********************
5 ********************

In [ ]:
def print_star(n, m):
    for i in range(n):
        print("*"*m)
print_star(6, 40)

****************************************
****************************************
****************************************
****************************************
****************************************
****************************************

In [ ]:
def print_hello(n):
    print('Hello  '*n)
print("Hello 두번 출력")
print_hello(2)
print("Hello 네번 출력")
print_hello(4)

Hello 두번 출력
Hello  Hello
Hello 네번 출력
Hello  Hello  Hello  Hello

In [ ]:
def print_sum(a,b):
    result = a+b
    print(a,"와", b, "의 합은", result, "입니다")
print_sum(10, 5)

10 와 5 의 합은 15 입니다

In [ ]:
def print_root(a,b,c):
    r1 = (-b + (b**2 - 4*a*c) ** 0.5) / (2*a)
    r2 = (-b - (b**2 - 4*a*c) ** 0.5) / (2*a)
    print("해는", r1, "또는", r2)
print_root(1, 2, -8)
print_root(2, -6, -8)

해는 2.0 또는 -4.0
해는 4.0 또는 -1.0

In [ ]:
def print_sum2(a,b):
    result = a+b
    result_mul = a*b
    return result, result_mul
sum, mul = print_sum2(100, 50)
print("더하기:", sum, "곱하기:", mul)

더하기: 150 곱하기: 5000

In [ ]:
def print_sum2(a,b):
    #result = a+b
    #result_mul = a*b
    return a+b, a*b
sum, mul = print_sum2(100, 50)
print("더하기:", sum, "곱하기:", mul)

더하기: 150 곱하기: 5000

In [ ]:
def print_root(a,b,c):
    r1 = (-b + (b**2 - 4*a*c) ** 0.5) / (2*a)
    r2 = (-b - (b**2 - 4*a*c) ** 0.5) / (2*a)
    return r1, r2
result1, result2 = print_root(1,2,-8)
print("두 해는 {}, {}".format(result1, result2))

두 해는 2.0, -4.0

In [ ]:
#Lab 4.7 : 원의 면적과 둘레를 반환하는 함수
def circle_area_circum(radius):
    area = 3.14*radius**2
    circum = 2*3.14*r
    return area, circum
r = 10
area, circum = circle_area_circum(r)
print("반지름 {}인 원의 면적은 {}, 원의 둘레는 {}".format(r, area, circum))

반지름 10인 원의 면적은 314.0, 원의 둘레는 62.800000000000004

In [ ]:
#Lab 4-8 : 다수의 결과를 반환하는 함수 만들기
def multiplies(n, m):
    mults = []
    for i in range(1, m+1):
        mults.append(n*i)
    return mults
r1, r2, r3, r4 = multiplies(3, 4)
print(r1, r2, r3, r4)
r1, r2, r3, r4, r5 = multiplies(2, 5)
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

In [ ]:
def print_sum():
    a=100
    b=200
    result = a+b
    print('print_sum() 내부 :', a, '와', b, '의 합은', result, '입니다')
a=10
b=10
print_sum()
result = a+b
print('print_sum() 외부 :', a, '와', b, '의 합은', result, '입니다')

print_sum() 내부 : 100 와 200 의 합은 300 입니다
print_sum() 외부 : 10 와 10 의 합은 20 입니다

In [ ]:
def print_sum():
    global a, b
    a = 100
    b = 200
    result = a+b
    print('print_sum() 내부 :', a, '와', b, '의 합은', result, '입니다')
a=10
b=10
print_sum()
result = a+b
print('print_sum() 외부 :', a, '와', b, '의 합은', result, '입니다')

print_sum() 내부 : 100 와 200 의 합은 300 입니다
print_sum() 외부 : 100 와 200 의 합은 300 입니다

In [ ]:
def print_star(n=1):
    for _ in range(n):
        print('*'*30)
print_star(4)

******************************
******************************
******************************
******************************

In [ ]:
def div(a, b=2):
    return a/b
print('div(4)=', div(4))
print('div(6, 3)=', div(6,3))

div(4)= 2.0
div(6, 3)= 2.0

In [ ]:
def div(a=1, b=2):
    return a/b
print('div()=', div())
print('div(4)=', div(4))
print('div(6, 3)=', div(6,3))

div()= 0.5
div(4)= 2.0
div(6, 3)= 2.0

In [ ]:
def func(a,b,c):
    print(a,b,c)
func(1,2,3)
func(1,c=2, b=-1)
#func(1,b=2,4)

1 2 3
1 -1 2

In [ ]:
def func(shape, w = 1, h = 1, r = 1):
    if shape == 0: #rect
        return w*h
    if shape == 1: #circle
        return 3.14*r**2
print("rect area =", func(0, w = 10, h= 20))
print("circle area =", func(1, r=5))
print("rect area2 =", func(0, r=10))

rect area = 200
circle area = 78.5
rect area2 = 1

In [ ]:
def print_name(honorifics, first_name, last_name):
    print(honorifics, first_name, last_name)
print_name(first_name = 'Gildong', last_name = 'Hong', honorifics='Dr.')
print_name('Gildong', 'Hong','Dr.')

Dr. Gildong Hong
Gildong Hong Dr.

In [ ]:
def greet(*names):
    print('length:', len(names))
    for name in names:
        print('안녕하세요', name, '씨')
greet('홍길동','양만춘','이순신')

length: 3
안녕하세요 홍길동 씨
안녕하세요 양만춘 씨
안녕하세요 이순신 씨

In [ ]:
def sum_nums(*numbers):
    result = 0;
    for n in numbers:
        result += n
    return result
print(sum_nums(10,20,30))
print(sum_nums(10,20,30,40,50))

60
150

In [ ]:
#Lab 4-10 : 가변 인자의 활용
def sum_n_avg(*numbers):
    result = 0;
    for n in numbers:
        result += n
    return result, result/len(numbers)
print("3개의 인자(10, 20, 30)\n합계 :", sum_n_avg(10,20,30)[0], ", 평균 :", sum_n_avg(10,20,30)[1])
print("3개의 인자(10, 20, 30, 40, 50)\n합계 :", sum_n_avg(10,20,30,40,50)[0], ", 평균 :", sum_n_avg(10,20,30,40,50)[1])

3개의 인자(10, 20, 30)
합계 : 60 , 평균 : 20.0
3개의 인자(10, 20, 30, 40, 50)
합계 : 150 , 평균 : 30.0

In [ ]:
#Lab 4-10-2
def min_nums(*nums):
    return min(nums)
print("최솟값은", min_nums(20,40,50,10))

최솟값은 10

In [ ]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n*factorial(n-1)
n=5
print("{}! = {}".format(n, factorial(n)))

5! = 120

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return (fibonacci(n-1) + fibonacci(n-2))

nterms = int(input("몇 개의 피보나치수를 원하세요?"))
if nterms <= 0:
    print("오류 : 양수를 입력하세요.")
else:
    print("Fibonacci 수열 :", end='')
    for i in range(nterms):
        print(fibonacci(i), end=' ')

몇 개의 피보나치수를 원하세요?20
Fibonacci 수열 :0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
s1, s2 = input("문자열 2개를 입력하세요: ").split()

문자열 2개를 입력하세요: Hello Python

In [ ]:
s1

'Hello'

In [ ]:
s2

'Python'

In [ ]:
'Howpythonsplitthistext'.split('t')

['Howpy', 'honspli', '', 'his', 'ex', '']

In [ ]:
','.join('ABCD')

'A,B,C,D'

In [ ]:
id(n)

10914624